<body>
  <div class="container">
    <div class="row">
      <section class="discussions">
        <form [formGroup]="searchForm" (ngSubmit)="getUserList()" style="margin-bottom: -10px">
          <div class="discussion search">
            <div class="searchbar">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" formControlName="userChatName" placeholder="Search..." />
            </div>
          </div>
        </form>
        <div class="discussion-container">
          <div *ngFor="let user of users" class="discussion" (click)="onSelectUser(user)">
            <div
              class="photo"
              [ngStyle]="{
                'background-image':
                  'url(' + (user.pictureUrl == null ? './assets/img/profile_image_not_found.png' : api.getProfileImagePath(user.pictureUrl)) + ')'
              }"
            >
              <div *ngIf="user.isOnline" class="online"></div>
            </div>
            <div class="desc-contact">
              <p class="name">{{ user.userChatName }}</p>
              <p class="message">{{ user.message }}</p>
            </div>
            <div class="timer">{{ user.time }}</div>
          </div>
        </div>
      </section>
      <section class="chat">
        <div class="header-chat">
          <i class="icon fa fa-user-o" aria-hidden="true"></i>
          <p class="name">{{ this.user == null ? '' : this.user.userChatName }}</p>
          <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>
        <div class="messages-chat">
          <div *ngIf="user != null">
            <div *ngFor="let message of messages">
              <div class="message text-only" *ngIf="isUserMatch(message)">
                <div class="response">
                  <p class="text">{{ parseMessage(message).message }}</p>
                </div>
              </div>
              <div class="message" *ngIf="!isUserMatch(message)">
                <div
                  class="photo"
                  [ngStyle]="{
                    'background-image':
                      'url(' + (user.pictureUrl == null ? './assets/img/profile_image_not_found.png' : api.getProfileImagePath(user.pictureUrl)) + ')'
                  }"
                >
                  <div class="online"></div>
                </div>
                <p class="text">{{ parseMessage(message).message }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-chat">
          <i class="icon fa fa-smile-o clickable" style="font-size: 25pt" aria-hidden="true"></i>
          <input type="text" class="write-message" placeholder="Type your message here" [(ngModel)]="newMessage" />
          <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true" (click)="sendPrivateMessage()"></i>
        </div>
      </section>
    </div>
  </div>
</body>
