<body>
  <div class="container">
    <div class="row">
      <section class="discussions">
        <form [formGroup]="searchForm" (ngSubmit)="searchData()" style="margin-bottom: -10px">
          <div class="discussion search">
            <div class="searchbar">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" formControlName="userChatName" placeholder="Search..." />
            </div>
          </div>
        </form>
        <div class="discussion-container">
          <div class="tabs">
            <span class="tab" [class.active]="activeTab === 'Chat'" (click)="setActiveTab('Chat')"> Chats </span>
            <span class="tab" [class.active]="activeTab === 'AllUsers'" (click)="setActiveTab('AllUsers')"> All Users </span>
            <span class="tab" [class.active]="activeTab === 'Group'" (click)="setActiveTab('Group')"> Groups </span>
          </div>

          <div *ngIf="activeTab === 'Chat'">
            <div *ngFor="let chat of chatList" class="discussion" (click)="onSelectChat(chat)">
              <div
                class="photo"
                [ngStyle]="{
                  'background-image':
                    'url(' + (chat.pictureUrl == null ? './assets/img/chat-user-default.png' : api.getProfileImagePath(chat.pictureUrl)) + ')'
                }"
                *ngIf="chat.messageType === 'private'"
              >
                <!-- <div *ngIf="chat.isOnline" class="online"></div> -->
              </div>
              <div
                class="photo"
                [ngStyle]="{
                  'background-image': 'url(' + chat.pictureUrl + ')'
                }"
                *ngIf="chat.messageType === 'public'"
              >
                <!-- <div *ngIf="chat.isOnline" class="online"></div> -->
              </div>
              <div class="desc-contact">
                <p class="name">{{ chat.chatName }}</p>
                <p class="message">{{ chat.messageText }}</p>
              </div>
              <!-- <div class="timer">{{ chat.createdAt | date : 'HH:mm' }}</div> -->
            </div>
          </div>

          <div *ngIf="activeTab === 'AllUsers'">
            <div *ngFor="let user of users" class="discussion" (click)="onSelectUser(user)">
              <div
                class="photo"
                [ngStyle]="{
                  'background-image':
                    'url(' + (user.pictureUrl == null ? './assets/img/chat-user-default.png' : api.getProfileImagePath(user.pictureUrl)) + ')'
                }"
              >
                <!-- <div *ngIf="user.isOnline" class="online"></div> -->
              </div>
              <div class="desc-contact">
                <p class="name">{{ user.userChatName }}</p>
                <p class="message">{{ user.message }}</p>
              </div>
              <!-- <div class="timer">{{ user.time }}</div> -->
            </div>
          </div>
          <div *ngIf="activeTab === 'Group'">
            <div *ngFor="let chatGroup of chatGroups" class="discussion" (click)="onSelectGroup(chatGroup)">
              <div
                class="photo"
                [ngStyle]="{
                  'background-image': 'url(' + './assets/img/chatgroup.png' + ')'
                }"
              >
                <!-- <div *ngIf="chatGroup.isOnline" class="online"></div> -->
              </div>
              <div class="desc-contact">
                <p class="name">{{ chatGroup.roomName }}</p>
                <p class="message">{{ chatGroup.message }}</p>
              </div>
              <!-- <div class="timer">{{ chatGroup.time }}</div> -->
            </div>
          </div>
        </div>
        <button class="floating-btn" *ngIf="activeTab === 'Group'" (click)="openChatGroupModal()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add
        </button>
        <button class="floating-btn" *ngIf="activeTab === 'Chat'" (click)="openBroadCastModal()">
          <i class="fa fa-plus" aria-hidden="true"></i> Broadcast
        </button>
      </section>

      <section class="chat">
        <div class="header-chat">
          <i class="icon fa fa-user-o" aria-hidden="true" *ngIf="activeTab === 'AllUsers' || messagetype === 'private'"></i>

          <i class="icon fa fa-users" aria-hidden="true" *ngIf="activeTab === 'Group' || messagetype === 'public'"></i>
          <p class="name" *ngIf="activeTab === 'AllUsers'">{{ this.user == null ? '' : this.user.userChatName }}<span> - Online</span></p>
          <p class="name" *ngIf="activeTab === 'Chat'">{{ this.user == null ? '' : this.user.chatName }} <span> - Online</span></p>

          <p class="name" *ngIf="activeTab === 'Group'">{{ this.chatGroup == null ? '' : this.chatGroup.roomName }}</p>
          <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>

        <div *ngIf="activeTab === 'AllUsers' || messagetype === 'private'">
          <div class="messages-chat">
            <div *ngIf="user != null">
              <div *ngFor="let message of messages">
                <div class="message text-only" *ngIf="isUserMatch(message)">
                  <div class="response">
                    <p class="text">{{ message.messageText }}</p>
                    <p class="time-response">{{ message.createdAt }}</p>
                  </div>
                </div>

                <div class="message" *ngIf="!isUserMatch(message)">
                  <div
                    class="photo"
                    [ngStyle]="{
                      'background-image':
                        'url(' + (user.pictureUrl == '' ? './assets/img/chat-user-default.png' : api.getProfileImagePath(user.pictureUrl)) + ')'
                    }"
                  >
                    <!-- <div class="online"></div> -->
                  </div>
                  <p class="text">{{ message.messageText }}</p>
                </div>
                <div class="time" *ngIf="!isUserMatch(message)">{{ message.createdAt }}</div>
              </div>
            </div>
          </div>
          <div class="footer-chat" *ngIf="user != null">
            <i class="icon fa fa-smile-o clickable" style="font-size: 25pt" aria-hidden="true"></i>
            <input
              type="text"
              class="write-message"
              placeholder="Type your message here"
              [(ngModel)]="newMessage"
              (keydown.enter)="sendPrivateMessage()"
            />
            <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true" (click)="sendPrivateMessage()"></i>
          </div>
        </div>

        <div *ngIf="activeTab === 'Group' || messagetype === 'public'">
          <div class="messages-chat">
            <div *ngIf="chatGroup != null">
              <div *ngFor="let message of messages">
                <div class="message text-only" *ngIf="isUserMatchChatRoom(message)">
                  <div class="response">
                    <p class="text">{{ message.messageText }}</p>
                    <p class="time-response">{{ message.createdAt }}</p>
                  </div>
                </div>
                <div class="message" *ngIf="!isUserMatchChatRoom(message)">
                  <div
                    class="photo"
                    [ngStyle]="{
                      'background-image':
                        'url(' + (message.pictureUrl == '' ? './assets/img/chat-user-default.png' : api.getProfileImagePath(message.pictureUrl)) + ')'
                    }"
                    [matTooltip]="message.senderName"
                  ></div>
                  <p class="text">{{ message.messageText }}</p>
                </div>
                <div class="time" *ngIf="!isUserMatchChatRoom(message)">{{ message.createdAt }}</div>
              </div>
            </div>
          </div>
          <div class="footer-chat" *ngIf="chatGroup != null">
            <i class="icon fa fa-smile-o clickable" style="font-size: 25pt" aria-hidden="true"></i>
            <input
              type="text"
              class="write-message"
              placeholder="Type your message here"
              [(ngModel)]="newMessage"
              (keydown.enter)="sendMessagetoChatRoom()"
            />
            <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true" (click)="sendMessagetoChatRoom()"></i>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
