<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">{{ 'product.title' | translate }}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <input matInput [placeholder]="'product.code' | translate" type="text" formControlName="productCode">
                </mat-form-field>
                <mat-form-field class="col-md-3">
                    <input matInput [placeholder]="'product.name' | translate" type="text" formControlName="product">
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'product.status' | translate"  formControlName="productActiveFlag">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of productActiveFlagList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'product.category' | translate"  formControlName="productCategoryId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of productCategoryList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'product.campaign' | translate"  formControlName="campaignId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of campaignList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'product.program' | translate"  formControlName="programId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of programList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'product.type' | translate"  formControlName="loyProductTypeId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of loyProductTypeList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div align="end">
                <button mat-raised-button type="button" class="btn btn-fill btn-rose" type="submit">{{ 'button.search' | translate }}</button>
                <button *ngIf="CAN_WRITE()" mat-raised-button type="button" class="btn btn-fill btn-primary" type="button" (click)="create()">{{ 'button.create' | translate }}</button>
                <button mat-raised-button type="button" class="btn btn-fill btn-default" type="reset" (click)="clear()">{{ 'button.clear' | translate }}</button>
              </div>
            </form>
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive"
              (matSortChange)="sortData($event)" matSort matSortActive="product" matSortDirection="asc"
                matSortDisableClear>
                <ng-container matColumnDef="productCode">
                  <th mat-header-cell *matHeaderCellDef> {{ 'product.code' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
                </ng-container>
                <ng-container matColumnDef="product" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header > {{ 'product.name' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                </ng-container>
                <ng-container matColumnDef="loyProductType">
                  <th mat-header-cell *matHeaderCellDef> {{ 'product.type' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.loyProductType}} </td>
                </ng-container>
                <ng-container matColumnDef="campaign">
                  <th mat-header-cell *matHeaderCellDef> {{ 'product.campaign' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.campaign}} </td>
                </ng-container>
                <ng-container matColumnDef="productCategory">
                  <th mat-header-cell *matHeaderCellDef> {{ 'product.category' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.productCategory}} </td>
                </ng-container>
                <ng-container matColumnDef="productSubCategory">
                  <th mat-header-cell *matHeaderCellDef> {{ 'product.subCategory' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.productSubCategory}} </td>
                </ng-container>
                <ng-container matColumnDef="program">
                  <th mat-header-cell *matHeaderCellDef> {{ 'product.program' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.program}} </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef> {{ 'product.startDate' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef> {{ 'product.endDate' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                  </ng-container>
                <ng-container matColumnDef="productActiveFlag">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> {{ 'product.active' | translate }} </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <mat-icon matSuffix *ngIf="element.productActiveFlag === 'Y'">done</mat-icon>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRow(row)"
                  [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
              </table>
              <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)" [length]="tableControl.total"
                [pageIndex]="tableControl.pageNo" [pageSize]="tableControl.pageSize" [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
        <div class="card" *ngIf="selectedRow">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">perm_identity</i>
              </div>
              <h4 class="card-title">{{ 'product.detailTitle' | translate }} </h4>
            </div>
            <div class="card-body">
              <form #createFormDirective="ngForm" [formGroup]="createForm" (ngSubmit)="onSave($event)">
                <div class="row">
                  <mat-form-field class="col-md-3">
                    <mat-select [placeholder]="'product.program' | translate"  formControlName="programId">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let item of programList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && createForm.controls['programId'].hasError('required')">
                      {{ 'error.required' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                      <input matInput [placeholder]="'product.code' | translate" type="text" formControlName="productCode">
                      <mat-error *ngIf="submitted && createForm.controls['productCode'].hasError('required')">
                        {{ 'error.required' | translate }}
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                      <input matInput [placeholder]="'product.name' | translate" type="text" formControlName="product">
                      <mat-error *ngIf="submitted && createForm.controls['product'].hasError('required')">
                        {{ 'error.required' | translate }}
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                    <mat-select [placeholder]="'product.status' | translate"  formControlName="productActiveFlag">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let item of productActiveFlagList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="col-md-3">
                    <input matInput [matDatepicker]="startDateRef" (dateChange)="onStartDateChange($event)"
                    [placeholder]="'product.startDate' | translate" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDateRef"></mat-datepicker-toggle>
                    <mat-datepicker #startDateRef></mat-datepicker>
                    <mat-error *ngIf="submitted && createForm.controls['startDate'].hasError('required')">
                      {{ 'error.required' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                    <input matInput [matDatepicker]="endDateRef" (dateChange)="onEndDateChange($event)"
                    [placeholder]="'product.endDate' | translate" formControlName ="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDateRef"></mat-datepicker-toggle>
                    <mat-datepicker #endDateRef ></mat-datepicker>
                    <mat-error *ngIf="submitted && createForm.controls['endDate'].hasError('required')">
                      {{ 'error.required' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'product.type' | translate"  formControlName="loyProductTypeId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of loyProductTypeList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && createForm.controls['loyProductTypeId'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                    <mat-select [placeholder]="'product.campaign' | translate"  formControlName="campaignId">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let item of activeCampaignList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <mat-form-field class="col-md-6">
                        <mat-select [placeholder]="'product.category' | translate"  formControlName="productCategoryId" (valueChange)="onChangeParentCategory($event)">
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let item of productCategoryList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="col-md-6">
                        <mat-select [placeholder]="'product.subCategory' | translate"  formControlName="productSubCategoryId">
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let item of productSubCategoryList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <mat-form-field class="col-md-6">
                          <input matInput [placeholder]="'product.price' | translate" type="text" formControlName="productPrice">
                      </mat-form-field>
                      <mat-form-field class="col-md-6">
                          <input matInput [placeholder]="'product.pointUse' | translate" type="text" formControlName="productPointUse">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <mat-form-field class="col-md-12">
                          <textarea matInput matTextareaAutosize matAutosizeMinRows=4 matAutosizeMaxRows=20
                          [placeholder]="'product.detail' | translate" type="text" formControlName="productDetail">
                          </textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <app-created-by
                    [createdBy]="createForm.controls['createdBy'].value"
                    [createdDate]="createForm.controls['createdDate'].value"
                    [updatedBy]="createForm.controls['updatedBy'].value"
                    [updatedDate]="createForm.controls['updatedDate'].value">
                </app-created-by>
                <button *ngIf="CAN_WRITE()" mat-raised-button type="submit" class="btn btn-rose pull-right">{{ 'button.save' | translate }}</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
          <!-- end of selected row -->
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
  </div>

