.center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.center-icon .material-icons {
  font-size: 24px; /* สามารถปรับขนาดไอคอนได้ตามต้องการ */
}

.material-datatables {
  overflow-x: auto;
}
table {
  width: auto;
}

.mat-column-kbId {
  width: 15% !important;
}

.mat-column-title {
  width: 30% !important;
}

.mat-column-description {
  width: 45% !important;
}

.mat-column-action {
  width: 10% !important;
}

tr.selected {
  background-color: #add8e6; /* เปลี่ยนเป็นสีที่ต้องการ */
}
