<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 w-100">
      <button (click)="onBack()" class="back_button" mat-button>
        <mat-icon class="back_icon">navigate_before</mat-icon>Back
      </button>
    </div>
  </div>
  <form [formGroup]="createForm">
    <div class="row justify-content-md-center body">
      <div class="col-md-6" class="title">
        ลงทะเบียนเข้าใช้งาน<br />
        <span class="brand">INSEE LOYAL FAMILY</span>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>เลขประจำตัวผู้เสียภาษี</mat-label>
          <input matInput formControlName="taxNo">
        </mat-form-field>
        <mat-form-field>
          <mat-label>หมายเลขโทรศัพท์</mat-label>
          <input matInput formControlName="mobileNo">
        </mat-form-field>
        <div *ngIf="type ==='SUBDEALER'">
          <mat-form-field appearance="standard">
            <mat-label>จังหวัด</mat-label>
            <mat-select>
              <mat-option value="1">กรุงเทพมหานคร</mat-option>
              <mat-option value="2">ชลบุรี</mat-option>
              <mat-option value="3">นครราชสีมา</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>ดีลเลอร์</mat-label>
            <mat-select>
              <mat-option value="1">ดีลเลอร์ 1</mat-option>
              <mat-option value="2">ดีลเลอร์ 2</mat-option>
              <mat-option value="3">ดีลเลอร์ 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <mat-form-field>
          <mat-label>ข้อมูลร้านค้าของท่าน</mat-label>
          <textarea matInput></textarea>
        </mat-form-field> -->
      </div>
    </div>
    <div class="col-md-6 text-center">
      <button (click)="onNext()" class="next" mat-raised-button color="primary">ถัดไป</button>
    </div>
  </form>
</div>
