@import "src/assets/scss/core/variables.scss";

.body {
  height: calc(100vh - 105px);
  overflow-y: scroll;
  text-align: center;
}

.back_button {
  font-size: 18px;
  margin-left: 0px;
  padding-left: 0px;
}

.back_icon {
  height: 27px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  line-height: 1.5;
}

.brand {
  color: $brand-locus;
}

.next {
  width: 60%;
  margin-bottom: 10px;
}