<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" *ngIf="id != null">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="pull-center"></div>
            <div class="card-icon">
              <i class="material-icons">assessment</i>
            </div>
            <h4 class="card-title">{{ headerQuestionnaire == null ? '' : headerQuestionnaire.formName }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-12">
                <mat-card class="chart-card">
                  <mat-card-title class="chart-title">{{ 'จำนวน (คน)' | translate }}</mat-card-title>
                  <mat-card-content class="chart-container">
                    <div class="text-center">
                      <h2>{{ totalRespondent }}</h2>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12">
                <mat-card class="chart-card">
                  <mat-card-title class="chart-title">{{ 'ผู้ตอบแบบสอบถามแยกตามเพศ' | translate }}</mat-card-title>
                  <mat-card-content class="chart-container">
                    <ngx-charts-pie-chart
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="genderGroupData"
                      [legend]="showLegend"
                      [legendPosition]="legendPosition"
                      [labels]="showLabels"
                      [doughnut]="doughnut"
                      [explodeSlices]="explodeSlices"
                      (select)="onSelect($event)"
                    >
                    </ngx-charts-pie-chart>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12">
                <mat-card class="chart-card">
                  <mat-card-title class="chart-title">{{ 'ผู้ตอบแบบสอบถามแยกตามช่วงอายุ' | translate }}</mat-card-title>
                  <mat-card-content class="chart-container">
                    <ngx-charts-pie-chart
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="ageGroupData"
                      [legend]="showLegend"
                      [legendPosition]="legendPosition"
                      [labels]="showLabels"
                      [doughnut]="doughnut"
                      [explodeSlices]="explodeSlices"
                      (select)="onSelect($event)"
                    >
                    </ngx-charts-pie-chart>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12">
                <!-- Tab Summay / Individual -->
                <mat-tab-group>
                  <mat-tab label="Summary">
                    <div class="col-md-12">
                      <div *ngFor="let question of questionnaireQuestionList; let i = index">
                        <div *ngIf="question.componentType === 'text' || question.componentType === 'textarea' || question.componentType === 'date'">
                          <h5>{{ i + 1 + '. ' + question.question }}</h5>
                          <p>{{ question.description }}</p>
                          <div class="row">
                            <div class="col-md-8">
                              <div class="card">
                                <div class="card-body" style="background-color: rgb(246, 252, 250)">
                                  <div class="pull-right">
                                    <button mat-raised-button type="button" class="btn btn-fill btn-default">Export All Data</button>
                                  </div>
                                  <br />
                                  <br />
                                  <!-- <h3>Data table (First 10 Rows)</h3> -->
                                  <div>
                                    <ul>
                                      <li *ngFor="let item of question.summaryDetail">
                                        <span style="padding-right: 10px"
                                          ><strong>{{ item.name }}</strong></span
                                        >
                                        <i>{{ item.value }}</i>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="question.componentType === 'radio' || question.componentType === 'select'" class="radio-group">
                          <h5>{{ i + 1 + '. ' + question.question }}</h5>
                          <p>{{ question.description }}</p>
                          <div class="row">
                            <div class="col-md-8">
                              <div class="card">
                                <div class="card-body" style="background-color: rgb(246, 252, 250)">
                                  <div class="pull-right">
                                    <button mat-raised-button type="button" class="btn btn-fill btn-default" (click)="exportCharts(i)">
                                      Save image
                                    </button>
                                  </div>
                                  <ngx-charts-pie-chart
                                    [view]="viewQuestion"
                                    [scheme]="colorScheme"
                                    [results]="question.summaryDetail"
                                    [legend]="true"
                                    [labels]="showLabels"
                                    [legendTitle]="''"
                                    [doughnut]="doughnut"
                                    [explodeSlices]="explodeSlices"
                                    [id]="'chart' + i"
                                    (select)="onSelect($event)"
                                  >
                                  </ngx-charts-pie-chart>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="question.componentType === 'checkbox'" class="checkbox-group">
                          <h5>{{ i + 1 + '. ' + question.question }}</h5>
                          <p>{{ question.description }}</p>

                          <div class="row">
                            <div class="col-md-8">
                              <div class="card">
                                <div class="card-body" style="background-color: rgb(246, 252, 250)">
                                  <div class="pull-right">
                                    <button mat-raised-button type="button" class="btn btn-fill btn-default" (click)="exportCharts(i)">
                                      Save image
                                    </button>
                                  </div>
                                  <br /><br />
                                  <ngx-charts-bar-horizontal
                                    class="chart-card"
                                    [view]="viewQuestion"
                                    [scheme]="colorScheme"
                                    [animations]="true"
                                    [results]="question.summaryDetail"
                                    [gradient]="gradient"
                                    [xAxis]="true"
                                    [yAxis]="true"
                                    [legend]="false"
                                    [showXAxisLabel]="true"
                                    [showYAxisLabel]="true"
                                    [legendTitle]="'ชนิด'"
                                    [xAxisLabel]="'จำนวน (คน)'"
                                    [yAxisLabel]="'ชนิด'"
                                    [id]="'chart' + i"
                                  >
                                  </ngx-charts-bar-horizontal>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br />
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Individual">
                    <div style="padding: 20px">
                      <!-- <form [formGroup]="individualSearchForm">
                        <div class="row">
                          <mat-form-field class="col-md-6">
                            <mat-label>{{ 'ชื่อ' | translate }}</mat-label>
                            <input matInput rows="2" formControlName="name" maxlength="100" />
                          </mat-form-field>
                        </div>
                      </form> -->
                      <div class="row">
                        <div class="col-md-12">
                          <div class="pull-right">
                            <button mat-raised-button type="button" class="btn btn-fill btn-default">Export All Data</button>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="material-datatables table-responsive">
                            <table
                              mat-table
                              [dataSource]="respondentDataList"
                              class="mat-elevation-z8"
                              (matSortChange)="tableControl.onSort($event)"
                              matSort
                              matSortDirection="asc"
                              matSortDisableClear
                            >
                              <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>{{ 'ชื่อ' }}</th>
                                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                              </ng-container>

                              <ng-container matColumnDef="age">
                                <th mat-header-cell *matHeaderCellDef>{{ 'อายุ' }}</th>
                                <td mat-cell *matCellDef="let element">{{ element.age }}</td>
                              </ng-container>

                              <ng-container matColumnDef="gender">
                                <th mat-header-cell *matHeaderCellDef>{{ 'เพศ' }}</th>
                                <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
                              </ng-container>

                              <ng-container matColumnDef="createdDate">
                                <th mat-header-cell *matHeaderCellDef>{{ 'วันที่ส่งคำตอบ' }}</th>
                                <td mat-cell *matCellDef="let element">{{ element.createdDate }}</td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                              <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                                (click)="onRowClick(row)"
                                [ngClass]="{ 'selected-row': selectedRow == row }"
                              ></tr>
                            </table>
                          </div>
                          <mat-paginator
                            class="mat-paginator-sticky"
                            (page)="tableControl.onPage($event)"
                            [length]="tableControl.total"
                            [pageIndex]="tableControl.pageNo"
                            [pageSize]="tableControl.pageSize"
                            [pageSizeOptions]="tableControl.pageSizeOptions"
                            showFirstLastButtons
                          >
                          </mat-paginator>
                        </div>
                      </div>
                    </div>

                    <hr />
                    <div class="row" style="padding: 20px">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-body" style="background-color: rgb(246, 252, 250)">
                            <div class="text-center card-title">
                              <h3>
                                <strong>{{ headerQuestionnaire == null ? '' : headerQuestionnaire.formName }}</strong>
                              </h3>
                            </div>
                            <div *ngFor="let question of questionnaireQuestionIdvList; let i = index">
                              <div>
                                <h5>
                                  <strong>{{ i + 1 + '. ' + question.question }}</strong>
                                </h5>
                                <p>{{ question.description }}</p>
                                <div class="row">
                                  <div class="col-md-6 text-success">
                                    <strong><u>คำตอบ</u></strong>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <ul>
                                      <div *ngFor="let reponse of question.responseDetail; let i = index">
                                        <li class="text-success">
                                          <strong>{{ reponse.value }}</strong>
                                        </li>
                                      </div>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <br />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
