<div class="row" style="padding-left: 50px; padding-right: 50px">
  <div class="col-md-12">
    <div class="card">
      <!-- <div class="card-header card-header-primary card-header-icon">
        <h4 class="card-title">{{ 'Task' | translate }}</h4>
      </div> -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button mat-raised-button type="button" class="btn btn-fill btn-primary" (click)="onToggleOpenAddSection()">
                {{ 'button.add' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="material-datatables table-responsive">
          <table
            mat-table
            [dataSource]="datasource"
            class="mat-elevation-z8"
            (matSortChange)="tableControl.onSort($event)"
            matSort
            matSortDirection="asc"
            matSortDisableClear
          >
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="text-left">Actions</th>
              <td mat-cell *matCellDef="let element" class="text-left">
                <button class="btn btn-danger btn-round btn-fab mat-raised-button" *ngIf="CAN_WRITE()" (click)="onDeleteWorkflowTask(element)">
                  <span class="mat-button-wrapper">
                    <i class="material-icons">delete</i>
                  </span>
                </button>
                <button class="btn btn-primary btn-round btn-fab mat-raised-button" *ngIf="CAN_WRITE()" (click)="onSelectedRowEdit(element)">
                  <span class="mat-button-wrapper">
                    <i class="material-icons">edit</i>
                  </span>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="taskId">
              <th mat-header-cell *matHeaderCellDef class="text-right">{{ 'workflow.taskid' | translate }}</th>
              <td mat-cell *matCellDef="let element" class="text-right">{{ element.taskId }}</td>
            </ng-container>

            <ng-container matColumnDef="taskName">
              <th mat-header-cell *matHeaderCellDef>{{ 'workflow.taskName' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.taskName }}</td>
            </ng-container>

            <ng-container matColumnDef="systemname">
              <th mat-header-cell *matHeaderCellDef>{{ 'System Name' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.systemName }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>{{ 'workflow.description' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef>{{ 'workflow.priority' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>{{ 'workflow.status' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.status }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="onSelectRow(row)"
              [ngClass]="{ 'selected-row': selectedRow == row }"
            ></tr>
          </table>
        </div>
        <mat-paginator
          class="mat-paginator-sticky"
          (page)="tableControl.onPage($event)"
          [length]="tableControl.total"
          [pageIndex]="tableControl.pageNo"
          [pageSize]="tableControl.pageSize"
          [pageSizeOptions]="tableControl.pageSizeOptions"
          showFirstLastButtons
        >
        </mat-paginator>
        <div class="row" *ngIf="this.toggleOpenAddSection">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">{{ 'Task Detail' | translate }}</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="createForm" (ngSubmit)="onSaveWorkflowTask()" novalidate>
                  <div class="row">
                    <mat-form-field class="col-md-2">
                      <mat-label>{{ 'workflow.taskid' | translate }}</mat-label>
                      <input type="text" matInput formControlName="taskId" readonly />
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                      <mat-label>{{ 'workflow.taskName' | translate }}</mat-label>
                      <input type="text" matInput formControlName="taskName" maxlength="255" />
                      <mat-error *ngIf="createForm.controls['taskName'].hasError('required')">
                        {{ 'error.required' | translate }}
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-2">
                      <mat-label>{{ 'System' | translate }}</mat-label>
                      <mat-select formControlName="systemId" required>
                        <mat-option *ngFor="let item of systemList" [value]="item.systemId">
                          {{ item.systemName }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="createForm.controls['systemId'].hasError('required')">
                        {{ 'error.required' | translate }}
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-2">
                      <mat-label>{{ 'workflow.priority' | translate }}</mat-label>
                      <input type="number" matInput formControlName="priority" max="100" />
                      <mat-error *ngIf="createForm.controls['priority'].hasError('required')">
                        {{ 'error.required' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field class="col-md-4">
                      <mat-label>{{ 'workflow.startdate' | translate }}</mat-label>
                      <input matInput [matDatepicker]="startDatepicker" #startDateDateInput formControlName="startDate" />
                      <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #startDatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                      <mat-label>{{ 'workflow.enddate' | translate }}</mat-label>
                      <input matInput [matDatepicker]="endDatepicker" #endDateDateInput formControlName="endDate" />
                      <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #endDatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                      <mat-label>{{ 'workflow.status' | translate }}</mat-label>
                      <input matInput formControlName="status" readonly />
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field class="col-md-10">
                      <mat-label>{{ 'workflow.description' | translate }}</mat-label>
                      <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="pull-right">
                        <button mat-raised-button type="button" class="btn btn-fill btn-default" (click)="onCloseAddSection()">
                          {{ 'button.close' | translate }}
                        </button>
                        <button mat-raised-button type="button" class="btn btn-fill btn-danger" (click)="onClearAddForm()">
                          {{ 'button.clear' | translate }}
                        </button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-primary">{{ 'button.save' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-workflow-task-assign *ngIf="this.selectedTaskId != null" [taskId]="this.selectedTaskId"></app-workflow-task-assign>
