<button class="close" mat-button [mat-dialog-close]="true">X</button>
<div mat-dialog-content class="flex-container">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row chatgroup-container">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <h4 class="card-title">{{ this.mode === 'create' ? 'Create Group' : ('Edit Group' | translate) }}</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="createForm">
                <div class="row">
                  <mat-form-field class="col-md-12">
                    <mat-label>{{ 'Group Name' | translate }}</mat-label>
                    <input matInput formControlName="roomName" maxlength="300" />
                    <mat-error *ngIf="createForm.get('roomName').hasError('required')">{{ 'Group Name is required' | translate }}</mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="users">
                      <input type="checkbox" [checked]="isSelectUserAll" (click)="onSelectedAllUserChange()" />
                      <label>
                        <b>{{ 'Select All' | translate }}</b>
                      </label>
                    </div>
                    <div *ngFor="let user of users; let i = index">
                      <mat-checkbox [checked]="user.checked" (change)="onUserChange(user, i)">{{ user.userChatName }}</mat-checkbox>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <button
                mat-raised-button
                class="btn btn-fill btn-danger"
                (click)="deleteChatRoom()"
                *ngIf="mode === 'edit' && createForm.get('createdBy').value.toString() === this.globals.profile.id.toString()"
              >
                {{ 'Delete' | translate }}
              </button>
            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <button mat-raised-button class="btn btn-fill btn-default" [mat-dialog-close]="true">
                  {{ 'close' | translate }}
                </button>
                <button mat-raised-button class="btn btn-fill btn-primary" (click)="createGroup()" *ngIf="mode === 'create'">
                  {{ 'Create' | translate }}
                </button>
                <button
                  mat-raised-button
                  class="btn btn-fill btn-primary"
                  (click)="editChatRoom()"
                  *ngIf="mode === 'edit' && createForm.get('createdBy').value.toString() === this.globals.profile.id.toString()"
                >
                  {{ 'Edit' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
