<div class="btn-group">
  <button
    type="button"
    [matBadge]="countNew"
    [matBadgeHidden]="hiddenNoti"
    class="btnnotification"
    aria-label="Notifications"
    data-bs-toggle="dropdown"
    data-bs-auto-close="outside"
    aria-expanded="false"
  >
    <i class="material-icons">notifications</i>
  </button>

  <div class="dropdown-menu dropdown-menu-end noti-dropdown" (click)="$event.stopPropagation()">
    <div class="dropdown-header">
      <i class="material-icons">notifications</i>
      <span>Notifications</span>
      <span class="badge" *ngIf="countNew > 0">{{ countNew }}</span>
    </div>

    <mat-tab-group class="noti-tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          <span>Case</span>
        </ng-template>
        <div class="list-container">
          <div class="empty-state" *ngIf="caseNotificationList.length === 0">
            <i class="material-icons">inbox</i>
            <p>No notifications</p>
          </div>
          <div class="list-item" *ngFor="let item of caseNotificationList" (click)="onSelectNotification(item)">
            <div class="item-header">
              <span class="item-number">{{ item.caseNumber }}</span>
              <span class="unread-dot" *ngIf="!item.read"></span>
            </div>
            <p class="item-desc">{{ item.description }}</p>
            <p class="item-time">{{ item.createdDate }}</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span>Activity</span>
        </ng-template>
        <div class="list-container">
          <div class="empty-state" *ngIf="activityNotificationList.length === 0">
            <i class="material-icons">inbox</i>
            <p>No activities</p>
          </div>
          <div class="list-item" *ngFor="let item of activityNotificationList" (click)="onSelectNotification(item)">
            <div class="item-header">
              <span class="item-number">{{ item.caseNumber }}</span>
              <span class="unread-dot" *ngIf="!item.read"></span>
            </div>
            <p class="item-desc">{{ item.description }}</p>
            <p class="item-time">{{ item.createdDate }}</p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
