<div class="container">
  <div class="form-container" [ngClass]="{ show: isOpen, hidden: !isOpen }">
    <div class="form-title">Phone<mat-icon (click)="close()" class="close-icon"> cancel </mat-icon></div>
    <iframe
      id="embedded-softphone"
      class="genesys-frame"
      allow="camera *; microphone *"
      src="https://apps.mypurecloud.jp/crm/embeddableFramework.html"
    ></iframe>

    <!-- <button (click)="getCustomerByPhoneNo('Internal')"
       mat-raised-button class="btn btn-fill btn-default"> getCustomerByPhoneNo </button>
      </div>    -->
  </div>
</div>
