mat-form-field[appearance=outline]{
    mat-label {
        background-color: white;
    }
    .text-membercard{
        font-size: 30px;
        font-family: fantasy;
    }
    .mat-form-field-outline {
        color: red;
      }
}

.nowrap{
    white-space: nowrap;
}
.member-point .card {
    margin-top: 4px;
    margin-bottom: 5px;
    box-shadow: none;
    border: 1px solid #e0e0e0;
}
.card .card, .card mat-card.mat-card {
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
    box-shadow: none;
}

.loy-point{
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: 500;
}

.card-simple{
    img.card-bg {
        width: 100%;
    }
    .logo{
        width: 100%;
        img {
            width: 50%;
            float: right;
            margin-top: 3%;
            margin-right: 5px;
        }
    }
}