<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <mat-form-field class="col-md-4">
            <input matInput [placeholder]="'reward.transId' | translate" type="number" formControlName="txnId" />
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput [placeholder]="'reward.firstName' | translate" type="text" formControlName="firstName" maxlength="255" />
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput [placeholder]="'reward.lastName' | translate" type="text" formControlName="lastName" maxlength="255" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-4">
            <input matInput [placeholder]="'reward.memberId' | translate" type="number" formControlName="memberId" />
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput [matDatepicker]="startDateRef" (dateChange)="onStartDateChange($event)"
            [placeholder]="'reward.processFromDate' | translate" formControlName="startDate" />
            <mat-datepicker-toggle matSuffix [for]="startDateRef"></mat-datepicker-toggle>
            <mat-datepicker #startDateRef></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput [matDatepicker]="endDateRef" (dateChange)="onEndDateChange($event)"
            [placeholder]="'reward.processToDate' | translate" formControlName="endDate" />
            <mat-datepicker-toggle matSuffix [for]="endDateRef"></mat-datepicker-toggle>
            <mat-datepicker #endDateRef></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row">
          <br/>
        </div>
        <div align="end">
          <button mat-raised-button type="button" class="btn btn-fill btn-rose" type="submit">{{ 'button.search' | translate }}</button>
          <button mat-raised-button type="button" class="btn btn-fill btn-default" type="reset" (click)="clear()">{{ 'button.clear' | translate }}</button>
        </div>
      </form>
      <br/>
      <div class="toolbar">
        <!--        Here you can write extra buttons/actions for the toolbar              -->
      </div>
      <div class="material-datatables">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive" (matSortChange)="tableControl.onSort($event)" matSort
        matSortActive="redeemMethodType" matSortDirection="asc" matSortDisableClear>
          <ng-container matColumnDef="txnId" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'reward.transId' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.txnId}} </td>
          </ng-container>
          <ng-container matColumnDef="memberId">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.memberId' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.memberId}} </td>
          </ng-container>
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.firstName' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.lastName' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
          <ng-container matColumnDef="memberTierName">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.memberTier' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.memberTierName}} </td>
          </ng-container>
          <ng-container matColumnDef="channelName">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.channel' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.channelName}} </td>
          </ng-container>
          <ng-container matColumnDef="redeemMethodName">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.redeemMethod' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.redeemMethodName}} </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.quantity' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>
          <ng-container matColumnDef="requestPoint">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.pointUsed' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.requestPoint}} </td>
          </ng-container>
          <ng-container matColumnDef="requestCash">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.cashUsed' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.requestCash}} </td>
          </ng-container>
          <ng-container matColumnDef="processedDate">
            <th mat-header-cell *matHeaderCellDef> {{ 'reward.processedDate' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.processedDate}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
        </table>
        <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)" [length]="tableControl.total" [pageSize]="tableControl.pageSize"
        [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
      </mat-paginator>
      </div>
    </div>
    <!-- end content-->
  </div>
  <!--  end card  -->
</div>
