.material-datatables {
  overflow-x: auto;
}
table {
  width: auto;
}
.mat-column-title {
  width: 30% !important;
}

.mat-column-description {
  width: 30% !important;
}

.mat-column-url {
  width: 30% !important;
}

.mat-column-keyword {
  width: 30% !important;
}
