<div class="container">
  <div class="row header">
    <div class="col-2">
      <button (click)="onBack()" class="back_button" mat-button>
        <mat-icon class="back_icon">navigate_before</mat-icon>Back
      </button>
    </div>
    <div class="col-8">
      <div class="page-title">ข้อมูลของกำนัล</div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row body justify-content-md-center">
    <div class="col-md-6">
      <img *ngIf="!reward?.isXcash" class="product-image" src="https://jlo.locus.co.th/JLOBE/api/reward/reward_image/{{reward.productImgPath}}">
      <img *ngIf="reward?.isXcash" class="product-image" src="{{reward.productImgPath}}">
      <div class="product-name">{{ reward.productName }}</div>
      <div class="product-detail">{{ reward.productName }}</div>
      <div class="line-item m-2">
        <div class="float-left">รหัส</div>
        <div class="float-right">{{ reward.productCode }}</div>
      </div>
      <div class="line-item m-2">
        <div class="float-left">ใช้คะแนน</div>
        <div class="float-right">{{ reward.point | number }}</div>
      </div>
      <div class="line-item m-2">
        <div class="float-left">จำนวนคงเหลือ</div>
        <div class="float-right">{{ reward.inventoryBalance | number }}</div>
      </div>
    </div>
  </div>
  <div class="row footer justify-content-md-center">
    <div class="col-md-6">
      <button (click)="onSubmit()" mat-raised-button color="primary" class="submit_button">แลกของกำนัล</button>
    </div>
  </div>
</div>
