<div class="container-fluid">
  <br />
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
    <div class="row">
      <mat-form-field class="col-md-4">
        <input matInput [placeholder]="'sale.prod.items' | translate" type="text" formControlName="item">
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-select [placeholder]="'sale.prod.parentCategory' | translate" formControlName="parentCategoryId" (valueChange)="onChangeParentCategory($event)">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of parentCategoryList" [value]="item.codeId">{{ item.codeName }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-select [placeholder]="'sale.prod.category' | translate" formControlName="categoryId">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of categoryList" [value]="item.codeId">{{ item.codeName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div align="end">
    <button mat-raised-button type="button" class="btn btn-fill btn-rose" type="submit">{{ 'button.search' | translate }}</button>
    <button mat-raised-button type="button" class="btn btn-fill btn-default" type="reset" (click)="clear()">{{ 'button.clear' | translate }}</button>
    </div>
  </form>

  <div class="material-datatables">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive" (matSortChange)="tableControl.onSort($event)" matSort matSortActive="item"
      matSortDirection="desc" matSortDisableClear>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 20px">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center" style="width: 20px">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef style="width: 50%"> {{ 'sale.prod.items' | translate }} </th>
        <td mat-cell *matCellDef="let element" style="width: 50%"> {{element.item}} </td>
      </ng-container>

      <ng-container matColumnDef="parentCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'sale.prod.parentCategory' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.parentCategory}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> {{ 'sale.prod.category' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRow(row)" [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
    </table>
    <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)" [length]="tableControl.total" [pageSize]="tableControl.pageSize"
      [pageIndex]="tableControl.pageNo" [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
    </mat-paginator>
  </div>
  <div align="end">
    <button mat-raised-button type="button" class="btn btn-fill btn-rose" type="button" (click)="onSave($event)">{{ 'button.save' | translate }}</button>
    <button mat-raised-button type="button" class="btn btn-fill btn-default" type="button" (click)="confirmClose()">{{ 'button.close' | translate }}</button>
  </div>
</div>
