<button class="close" mat-button [mat-dialog-close]="true">X</button>
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">{{ 'member.searchTitle' | translate }}</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
                <div class="row">
                  <mat-form-field class="col-md-4">
                    <input matInput placeholder="item" type="text" formControlName="item">
                  </mat-form-field>
                  <mat-form-field class="col-md-4">
                    <!-- <input matInput placeholder="Location" type="text" formControlName="locationId"> -->
                    <mat-select placeholder="Parent Category"  formControlName="parentCategoryId" (valueChange)="onChangeParentCategory($event)">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let item of parentCategoryList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-md-4">
                    <!-- <input matInput placeholder="Shop Type" type="text" formControlName="shopTypeId"> -->
                    <mat-select placeholder="Category"  formControlName="categoryId">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let item of categoryList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div align="end">
                  <button mat-raised-button type="button" class="btn btn-fill btn-rose" type="submit">Search</button>
                  <button mat-raised-button type="button" class="btn btn-fill btn-default" type="reset" (click)="clear()">Clear</button>
                </div>
              </form>
              <div class="toolbar">
                <!-- Here you can write extra buttons/actions for the toolbar -->
              </div>
              <div class="material-datatables">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                (matSortChange)="tableControl.onSort($event)" matSort matSortActive="item" matSortDirection="desc"
                  matSortDisableClear>
            
                  <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef> Item </th>
                    <td mat-cell *matCellDef="let element"> {{element.item}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="parentCategory">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Parent Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.parentCategory}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                  </ng-container>
            
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRow(row)"
                    [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
                </table>
                <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)" [length]="tableControl.total" [pageSize]="tableControl.pageSize"
                  [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>
          <!-- end content-->
          <div class="pull-right">
              <button mat-raised-button type="button" class="btn btn-fill btn-primary"
              [mat-dialog-close]="productInfo">{{ 'button.select' | translate }}</button>
            <button mat-raised-button mat-dialog-close type="button" (click)="onNoClick()"
              class="btn btn-fill btn-default">{{ 'button.cancel' | translate }}</button>
          </div>
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>