<div mat-dialog-content class="dialog-content">
  <!-- Header -->
  <div class="dialog-header">
    <div class="header-icon">
      <mat-icon>support_agent</mat-icon>
    </div>
    <h4 class="header-title">{{ 'consulting.save.history' | translate }}</h4>
    <button type="button" class="dialog-close" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Form -->
  <div class="form-container">
    <form [formGroup]="createForm" novalidate>
      <!-- Basic Information -->
      <div class="form-section">
        <div class="form-row">
          <div class="field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'consulting.number' | translate }}</mat-label>
              <input matInput type="text" formControlName="consultingNumber" readonly />
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'consulting.customer' | translate }}</mat-label>
              <input
                matInput
                type="text"
                formControlName="customerName"
                readonly
                (click)="searchCustomer()"
                required
              />
              <mat-icon matSuffix (click)="searchCustomer()">person</mat-icon>
              <mat-icon matSuffix (click)="removeCustomer()">remove_circle_outline</mat-icon>
              @if(createForm.controls['customerName'].hasError('required') && createForm.controls['customerId'].hasError('required')){
              <mat-error>{{ 'error.required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'consulting.owner' | translate }}</mat-label>
              <input
                matInput
                type="text"
                formControlName="consOwnerName"
                readonly
                (click)="showOwner()"
                required
              />
              <mat-icon matSuffix (click)="showOwner()">person</mat-icon>
              <mat-icon matSuffix (click)="removeOwner()">remove_circle_outline</mat-icon>
              @if(createForm.controls['consOwnerName'].hasError('required') && createForm.controls['consOwnerId'].hasError('required')){
              <mat-error>{{ 'error.required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'consulting.channel' | translate }}</mat-label>
              <mat-select formControlName="channelCd">
                <mat-option *ngFor="let type of channelList" [value]="type.codeId">
                  {{ type.codeName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'consulting.title' | translate }}</mat-label>
              <input matInput type="text" formControlName="title" />
              @if(createForm.controls['title'].hasError('required')){
              <mat-error>{{ 'error.required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'consulting.status' | translate }}</mat-label>
              <mat-select formControlName="statusCd">
                <mat-option *ngFor="let type of statusList" [value]="type.codeId">
                  {{ type.codeName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'consulting.startDate' | translate }}</mat-label>
              <input matInput formControlName="startDate" [matDatepicker]="startDate" />
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'consulting.endDate' | translate }}</mat-label>
              <input matInput formControlName="endDate" [matDatepicker]="endDate" />
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="field-wrapper full-width">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'consulting.note' | translate }}</mat-label>
              <textarea matInput formControlName="note" rows="4"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Created By Info -->
      <app-created-by
        [createdBy]="createForm.controls['createdBy'].value"
        [createdDate]="createForm.controls['createdDate'].value"
        [updatedBy]="createForm.controls['updatedBy'].value"
        [updatedDate]="createForm.controls['updatedDate'].value"
      >
      </app-created-by>
    </form>
  </div>

  <!-- Footer Actions (fixed) -->
  <div class="dialog-footer">
    <button mat-button mat-dialog-close (click)="onNoClick()" class="btn-cancel">
      {{ 'button.cancel' | translate }}
    </button>
    @if(CAN_WRITE()){
    <button mat-raised-button (click)="onSaveConsulting()" class="btn-primary">
      {{ 'button.save' | translate }}
    </button>
    }
  </div>
</div>
