<div mat-dialog-content class="dialog-content">
  <!-- Header -->
  <div class="dialog-header">
    <div class="header-icon">
      <mat-icon>menu_book</mat-icon>
    </div>
    <h4 class="header-title">{{ 'content.title' | translate }}</h4>
    <button type="button" class="dialog-close" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Content -->
  <div class="form-container">
    <mat-tab-group class="detail-tabs">
      <!-- Tab: All Content -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">folder_open</mat-icon>
          <span>{{ 'content.allContentTab' | translate }}</span>
        </ng-template>
        <div class="tab-content">
          <div class="row">
            <div class="col-md-4">
              <div class="tree-panel">
                <kb-tree translatePrefix="content"></kb-tree>
              </div>
            </div>
            <div class="col-md-8">
              <div class="detail-panel">
                <div class="panel-actions">
                  <kb-rating></kb-rating>
                  <kb-favorite></kb-favorite>
                </div>
                <mat-accordion multi="true" class="kb-accordion">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="panel-icon">info</mat-icon>
                        {{ 'content.basicInfoTab' | translate }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <modal-kb-detail translatePrefix="content"></modal-kb-detail>
                  </mat-expansion-panel>

                  <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="panel-icon">description</mat-icon>
                        {{ 'content.detailInfoTab' | translate }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <modal-kb-detail-info translatePrefix="content"></modal-kb-detail-info>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="panel-icon">attach_file</mat-icon>
                        {{ 'content.docTab' | translate }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <kb-detail-document></kb-detail-document>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="panel-icon">label</mat-icon>
                        {{ 'content.keywordTab' | translate }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <kb-detail-keyword></kb-detail-keyword>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- Tab: Search by Keyword -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">search</mat-icon>
          <span>{{ 'content.searchByKeyword' | translate }}</span>
        </ng-template>
        <div class="tab-content">
          <kb-detail-search-bykeyword [data]="data" (returnEvent)="close($event)"></kb-detail-search-bykeyword>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <!-- Footer -->
  <div class="dialog-footer">
    <button mat-button [mat-dialog-close]="false" class="btn-cancel">
      {{ 'button.cancel' | translate }}
    </button>
    @if(this.createForm.get('kbId').value != null){
    <button mat-raised-button type="button" (click)="onCreateRefKB()" class="btn-primary">
      <mat-icon>check</mat-icon>
      {{ 'button.select' | translate }}
    </button>
    }
  </div>
</div>
