<button class="close" mat-button [mat-dialog-close]="true">X</button>
<h1 mat-dialog-title>{{'card.reissuesCard' | translate}}</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="issueCardForm" novalidate>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="{{'member.program' | translate}}" type="text" formControlName="programName">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <mat-select placeholder="{{'member.cardTier' | translate}}" formControlName="cardTierId">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let item of tierList" [value]="item.codeId">{{item.codeName | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="{{'member.cardNo' | translate}}" type="text" formControlName="memberCardNo">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-12">
                        <textarea matInput placeholder="{{'card.reIssueReason' | translate}}" type="text" maxlength="200" formControlName="reIssueReason" cdkFocusInitial></textarea>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-default" (click)="onNoClick()">{{'button.close' | translate}}</button>
    <button mat-button class="btn btn-primary" (click)="reIssueCard()">{{'card.reissuesCard' | translate}}</button>
</div>