<div class="btn-group">
  <button type="button" class="btn-consulting dropdown-toggle" data-bs-toggle="dropdown"
    aria-expanded="false" (click)="onInitConsultInfo();">
    <i class="material-icons">support_agent</i>
    <span class="btn-text">{{'consulting.header.text'|translate}}:</span>
    @if (!constInfoModel) {
      <span class="status-badge available">{{'consulting.header.available'|translate}}</span>
    } @else if (constInfoModel.statusCd == '01') {
      <span class="status-badge inprogress">{{'consulting.header.inprogress'|translate}}</span>
    }
  </button>

  <div class="dropdown-menu dropdown-menu-end consulting-dropdown">
    <div class="dropdown-header">
      <i class="material-icons">support_agent</i>
      <span>{{'consulting.header.info' | translate}}</span>
    </div>

    <form class="consulting-form" [formGroup]="consultingForm" novalidate>
      <div class="form-field">
        <label>{{'consulting.header.number'|translate}}</label>
        <input formControlName="consultingNumber" type="text" readonly>
      </div>

      <div class="form-field">
        <label>{{'consulting.header.status'|translate}}</label>
        <input formControlName="status" type="text" readonly>
      </div>

      <div class="form-field">
        <label>{{'consulting.header.client'|translate}}</label>
        <input formControlName="client" type="text" readonly>
      </div>

      <div class="form-field">
        <label>{{'consulting.header.channel'|translate}}</label>
        <input formControlName="channel" type="text" readonly>
      </div>

      <div class="form-field">
        <label>{{'consulting.header.contact'|translate}}</label>
        <input formControlName="contact" type="text" readonly>
      </div>

      <div class="form-actions">
        @if (constInfoModel) {
          <button type="button" class="btn-wrapup" (click)="onStopWalkinConsulting()">
            <i class="material-icons">stop_circle</i>
            {{ 'consulting.header.wrapup' | translate }}
          </button>
        } @else {
          <button type="button" class="btn-start" (click)="onStartWalkinConsulting('04')">
            <i class="material-icons">play_circle</i>
            {{ 'consulting.header.start' | translate }}
          </button>
        }
      </div>
    </form>
  </div>
</div>