.pull-center {
  float: center !important;
}

.btn-group {
  margin-top: 0px;
  margin-bottom: 0px;
  button{    
    margin-top: 1px;
    margin-bottom: 0px;
  }
  .dropdown-menu{
    form{
      width: 400px;
      max-width: 300px;
    }
  }
}
@media (max-width: 991px){
  .btn-group{
    .dropdown-menu-right{  
      transform: translateX(-100px);
      right: 0px !important;
      left: 0px !important;
      width: 80vw;
      max-width: 300px;
      form{
        width: 80vw;
        max-width: 300px;
      }
    }
  }
}