@use '@angular/material' as mat;
@import "../scss/core/variables";

@include mat.core();


$my-theme: mat.define-theme((
 color: (
   theme-type: light,
    primary: mat.$azure-palette,
  ),

));

:root {
  @include mat.all-component-themes($my-theme);
  @include mat.color-variants-backwards-compatibility($my-theme);
}

// @include mat.color-variants-backwards-compatibility($my-theme);
// @include mat.typography-hierarchy($my-theme);

// $alternate-primary: mat.define-palette(mat.$blue-palette, 800);
// $alternate-accent: mat.define-palette(mat.$blue-palette, 800);
// $alternate-theme: mat.define-light-theme($alternate-primary, $alternate-accent);

// @include mat.all-component-themes($alternate-theme);

.main-tab {
  padding-top: 70px;
  height: 100%;
}

.main-tab > {
  mat-tab-header {

    border-top: 1px solid rgba(0, 0, 0, 0.12);
    // border-bottom: 2px solid #1565c0;
    border-bottom: 2px solid $brand-locus;

    .mat-mdc-tab {
      background-color: blue($color: #000000) !important;
      height: 35px;
      padding: 0 16px;
      color: #1e1d1d !important;
      min-width: 140px;
    }

    .mat-mdc-tab:hover {
      background-color: lighten($brand-locus, 50%) !important;
    }

    .mdc-tab--active {
      background-color: ghostwhite;
      opacity: 1;

      .mdc-tab-indicator {
        top: 0;
        height: 3px !important;
        background-color: $brand-locus !important;
      }
    }

    .mat-icon-button {
      padding: 0;
      min-width: 0;
      width: 26px;
      height: 26px;
      flex-shrink: 0;
      line-height: 26px;
      border-radius: 50%;

      mat-icon {
        margin-right: -30px;
      }
    }
  }
}

.material-datatables {
  width: 100%;

  table {
    // display: block;
    width: 100%;
    overflow-x: auto;

    .mat-mdc-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
    }

    .mat-mdc-row,
    .mat-mdc-header-row {
      display: table-row;
      // height: 40px;
      width: 35%;
    }

    .mat-mdc-cell,
    .mat-mdc-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 15px;
      line-break: unset;
      width: 40%;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
    }

    .mat-mdc-header-cell {
      font-size: 14px;
      font-weight: bold;
      background-color: $brand-locus;
    }
  }
}

.mat-mdc-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-mdc-form-field-label {
  color: black !important;
}

.mat-mdc-form-field {
  line-height: 1.5;
}

mat-form-field.mat-mdc-form-field-should-float label {
  font-size: 18px;
}

.navbar .navbar-brand {
  font-weight: 600;
}

.mat-mdc-option:hover {
  background: $brand-locus !important;
}

.mat-mdc-option.mat-mdc-selected:not(.mat-mdc-option-multiple) {
  background-color: $brand-locus !important;
}

input:read-only {
  color: rgba(0, 0, 0, 0.54);
}

input.mat-mdc-input-element {
  margin-bottom: 2.4px;
}

.mat-mdc-select-placeholder {
  line-height: 1;

}

.selected-row {
  background-color: lighten($brand-locus, 30%) !important;
}

.subgroup-header {
  background-color: $brand-locus !important;

  .card-title {
    color: white;
  }
}

.btn {
  font-size: 0.8rem !important;
  padding: 8px 20px !important;
}

.col-no-label {
  margin-top: 15px;
}
