html, :root {
    --mat-form-field-container-height: 35px;
    --mat-form-field-container-vertical-padding: 6px
}
table.mat-mdc-table{
    thead{
        background-color: var(--primary);
        tr{
            th{
                color: var(--light);
                .mat-sort-header-container{                    
                    .mat-sort-header-arrow{
                        color: var(--light);
                    }
                }
                .mat-sort-header-sorted{
                    color: var(--light);
                }
            }
        }
        
    }
}