<div class="container">
  <div class="row header">
    <div class="col-2">
      <button (click)="onBack()" class="back_button" mat-button>
        <mat-icon class="back_icon">navigate_before</mat-icon>Back
      </button>
    </div>
    <div class="col-8">
      <div class="page-title">รายการใบเสร็จรออนุมัติ</div>
    </div>
    <div class="col-2"></div>
  </div>
  <ng-container *ngIf="state === 'LIST'">
    <div class="row body justify-content-md-center">
      <div class="col-md-6">
        <mat-list>
          <div *ngFor="let receipt of receiptList">
            <mat-list-item class="reward-list-item" (click)="receiptDetailPage(receipt)">
              <h3 matLine>
                <div class="float-left"><b>{{ receipt.name }}</b></div>
                <div class="float-right">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
              </h3>
              <p matLine>
                {{ receipt.receiptNo }}<b>&nbsp;&nbsp;/&nbsp;&nbsp;</b>{{ receipt.receiptDate }}<b>&nbsp;&nbsp;/&nbsp;&nbsp;</b>{{ receipt.amount | number }}
                บาท
              </p>
            </mat-list-item>
            <mat-divider class="divider"></mat-divider>
          </div>
        </mat-list>
      </div>
    </div>
    <div class="row footer">
      <div class="col-md-6">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="state === 'DETAIL'">
    <div class="row body justify-content-md-center">
      <div class="col-md-6">
        <div class="receipt_image">
          <img class="receipt_image" src="assets/img/receipt_sample.png" />
          <!-- <lib-ngx-image-zoom [thumbImage]=thumb [fullImage]=thumb magnification="2" zoomMode="toggle"></lib-ngx-image-zoom> -->
        </div>
        <div class="line-item m-2">
          <div class="float-left">เลขที่ใบเสร็จ</div>
          <div class="float-right"><b>{{ receipt.receiptNo }}</b></div>
        </div>
        <div class="line-item m-2">
          <div class="float-left">วันที่ทำรายการตามใบเสร็จ</div>
          <div class="float-right"><b>{{ receipt.receiptDate }}</b></div>
        </div>
        <div class="line-item m-2">
          <div class="float-left">ยอดซื้อ (รวมภาษีมูลค่าเพิ่ม)</div>
          <div class="float-right"><b>{{ receipt.amount | number }}</b>&nbsp;บาท</div>
        </div>
      </div>
    </div>
    <div class="row footer justify-content-md-center">
      <div class="col-md-6">
        <button (click)="onCancel()" mat-raised-button class="cancel_button">ปฏิเสธ</button>
        <button (click)="onSubmit()" mat-raised-button color="primary" class="submit_button">อนุมัติ</button>
      </div>
    </div>
  </ng-container>
</div>
