<form #createFormDirective="ngForm" [formGroup]="createForm" (ngSubmit)="onSave()" novalidate>
  <input formControlName="catId" type="hidden" />
  <input formControlName="contentIdTemp" type="hidden" />
  <div class="row">
    <mat-form-field class="col-md-3">
      <mat-label>{{ translatePrefix + '.contentId' | translate }}</mat-label>
      <input formControlName="contentId" matInput type="text" readonly />
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <mat-label>{{ translatePrefix + '.catId' | translate }}</mat-label>
      <input formControlName="catName" matInput type="text" readonly />
      @if(CAN_WRITE()){
      <button mat-button type="button" matSuffix (click)="openTreeModal()">
        <mat-icon>folder_open</mat-icon>
      </button>
      } @if(createForm.controls['catName'].hasError('required')){
      <mat-error>
        {{ 'error.required' | translate }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-label>{{ translatePrefix + '.contentTitle' | translate }}</mat-label>
      <input formControlName="title" matInput type="text" maxlength="500" />
      @if(createForm.controls['title'].hasError('required')){
      <mat-error>
        {{ 'error.required' | translate }}
      </mat-error>
      }
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-md-3">
      <mat-label>{{ translatePrefix + '.seq' | translate }}</mat-label>
      <input formControlName="seq" matInput type="number" readonly />
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <mat-label>{{ translatePrefix + '.display' | translate }}</mat-label>
      <mat-select formControlName="display">
        <mat-option *ngFor="let status of contentIconList" [value]="status.codeId">{{ status.codeName }}</mat-option>
      </mat-select>
      @if(createForm.controls['display'].hasError('required')){
      <mat-error>
        {{ 'error.required' | translate }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <mat-label>{{ translatePrefix + '.contentStatus' | translate }}</mat-label>
      <mat-select formControlName="contentStatus">
        <mat-option *ngFor="let status of contentStatusList" [value]="status.codeId">{{ status.codeName }}</mat-option>
      </mat-select>
      @if(createForm.controls['contentStatus'].hasError('required')){
      <mat-error>
        {{ 'error.required' | translate }}
      </mat-error>
      }
    </mat-form-field>
    <div class="col-md-3 no-label">
      <mat-checkbox formControlName="sendDocFlag">{{ translatePrefix + '.sendDocFlag' | translate }}</mat-checkbox>
    </div>
  </div>
  <div class="row">
    <mat-form-field class="col-md-3">
      <mat-label>{{ translatePrefix + '.startDate' | translate }}</mat-label>
      <input matInput [matDatepicker]="startDateFrom" formControlName="startDate" />
      <mat-datepicker-toggle matSuffix [for]="startDateFrom"></mat-datepicker-toggle>
      <mat-datepicker #startDateFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <mat-label>{{ translatePrefix + '.startTime' | translate }}</mat-label>
      <input matInput formControlName="startTime" type="time" />
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <mat-label>{{ translatePrefix + '.endDate' | translate }}</mat-label>
      <input matInput [matDatepicker]="endDateFrom" formControlName="endDate" />
      <mat-datepicker-toggle matSuffix [for]="endDateFrom"></mat-datepicker-toggle>
      <mat-datepicker #endDateFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <mat-label>{{ translatePrefix + '.endTime' | translate }}</mat-label>
      <input formControlName="endTime" matInput type="time" />
    </mat-form-field>
  </div>
  <app-created-by
    [createdBy]="createForm.controls['createdBy'].value"
    [createdDate]="createForm.controls['createdDate'].value"
    [updatedBy]="createForm.controls['updatedBy'].value"
    [updatedDate]="createForm.controls['updatedDate'].value"
  >
  </app-created-by>
  <div class="d-flex justify-content-end gap-2">
    @if(CAN_WRITE() && !creating){
    <button mat-raised-button type="button" class="btn btn-fill btn-primary" (click)="create()">
      {{ 'button.create' | translate }}
    </button>
    } @if(CAN_WRITE() && creating){
    <button mat-raised-button type="button" class="btn btn-fill btn-default" (click)="cancel()">
      {{ 'button.cancel' | translate }}
    </button>
    } @if(CAN_WRITE()){
    <button mat-raised-button type="submit" class="btn btn-fill btn-rose">{{ 'button.save' | translate }}</button>
    }
  </div>
</form>
