<form #createFormDirective="ngForm" [formGroup]="createForm" (ngSubmit)="onSave()" novalidate>
  <input formControlName="catId" type="hidden" />
  <input formControlName="contentIdTemp" type="hidden" />
  <div class="row">
    <mat-form-field class="col-md-3">
      <input formControlName="contentId" matInput [placeholder]="translatePrefix + '.contentId' | translate" type="text" readonly />
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <input formControlName="catName" matInput [placeholder]="translatePrefix + '.catId' | translate" type="text" readonly />
      <button mat-button type="button" matSuffix *ngIf="CAN_WRITE()" (click)="openTreeModal()">
          <mat-icon>folder_open</mat-icon>
      </button>
      <mat-error *ngIf="createForm.controls['catName'].hasError('required')">
        {{ 'error.required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <input formControlName="title" matInput [placeholder]="translatePrefix + '.contentTitle' | translate" type="text" maxlength="500" />
      <mat-error *ngIf="createForm.controls['title'].hasError('required')">
        {{ 'error.required' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-md-3">
      <input formControlName="seq" matInput [placeholder]="translatePrefix + '.seq' | translate" type="number" readonly />
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <mat-select [placeholder]="translatePrefix + '.display' | translate" formControlName="display">
        <mat-option *ngFor="let status of contentIconList" [value]="status.codeId">{{ status.codeName }}</mat-option>
      </mat-select>
      <mat-error *ngIf="createForm.controls['display'].hasError('required')">
        {{ 'error.required' | translate }}
      </mat-error>
  </mat-form-field>
    <mat-form-field class="col-md-3">
      <mat-select [placeholder]="translatePrefix + '.contentStatus' | translate" formControlName="contentStatus">
        <mat-option *ngFor="let status of contentStatusList" [value]="status.codeId">{{ status.codeName }}</mat-option>
      </mat-select>
      <mat-error *ngIf="createForm.controls['contentStatus'].hasError('required')">
        {{ 'error.required' | translate }}
      </mat-error>
    </mat-form-field>
    <div class="col-md-3 no-label">
      <mat-checkbox formControlName="sendDocFlag">{{ translatePrefix + '.sendDocFlag' | translate }}</mat-checkbox>
    </div>
  </div>
  <div class="row">
    <mat-form-field class="col-md-3">
      <input matInput [matDatepicker]="startDateFrom" formControlName="startDate" [placeholder]="translatePrefix + '.startDate' | translate">
      <mat-datepicker-toggle matSuffix [for]="startDateFrom"></mat-datepicker-toggle>
      <mat-datepicker #startDateFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <input matInput  formControlName="startTime" [placeholder]="translatePrefix + '.startTime' | translate" type="time">
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <input matInput [matDatepicker]="endDateFrom" formControlName="endDate" [placeholder]="translatePrefix + '.endDate' | translate">
      <mat-datepicker-toggle matSuffix [for]="endDateFrom"></mat-datepicker-toggle>
      <mat-datepicker #endDateFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <input  formControlName="endTime" matInput [placeholder]="translatePrefix + '.endTime' | translate" type="time">
    </mat-form-field>
  </div>
  <app-created-by
      [createdBy]="createForm.controls['createdBy'].value"
      [createdDate]="createForm.controls['createdDate'].value"
      [updatedBy]="createForm.controls['updatedBy'].value"
      [updatedDate]="createForm.controls['updatedDate'].value">
  </app-created-by>
  <div class="row pull-right">
    <button mat-raised-button type="button" class="btn btn-primary" *ngIf="CAN_WRITE() && !creating" (click)="create()">{{ 'button.create' | translate }}</button>
    <button mat-raised-button type="button" class="btn btn-fill btn-default" *ngIf="CAN_WRITE() && creating" (click)="cancel()">{{ 'button.cancel' | translate }}</button>
    <button mat-raised-button type="submit" class="btn btn-rose" *ngIf="CAN_WRITE()">{{ 'button.save' | translate }}</button>
  </div>
</form>
