<div mat-dialog-content class="dialog-content">
  <!-- Header -->
  <div class="dialog-header">
    <div class="header-icon">
      <mat-icon>create_new_folder</mat-icon>
    </div>
    <h4 class="header-title">{{ translatePrefix + '.newFolder' | translate }}</h4>
    <button type="button" class="dialog-close" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Form -->
  <div class="form-container">
    <form [formGroup]="createForm" (ngSubmit)="onSave()" novalidate>
      <input formControlName="contentType" type="hidden" />
      <input formControlName="parentId" type="hidden" />
      <input formControlName="id" type="hidden" />

      <mat-form-field appearance="outline">
        <mat-label>{{ translatePrefix + '.newFolder' | translate }}</mat-label>
        <input formControlName="title" matInput type="text" maxlength="200" />
        @if(createForm.controls['title'].hasError('required')){
        <mat-error>{{ 'error.required' | translate }}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <!-- Footer Actions -->
  <div class="dialog-footer">
    <button mat-button [mat-dialog-close]="true" class="btn-cancel">
      {{ 'button.cancel' | translate }}
    </button>
    @if(CAN_WRITE()){
    <button mat-raised-button (click)="onSave()" class="btn-save">
      {{ 'button.save' | translate }}
    </button>
    }
  </div>
</div>
