<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" class="login-container">
    <div class="container-fluid">
      <div class="row">
        <div class="div-logo ml-auto mr-auto col">
          <div class="text-center">
            <img src="./assets/img/locus_logo.png" style="max-width: 300px" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="card card-login">
            <h5 class="card-title text-center">Sign In</h5>
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      name="username"
                      required
                      minlength="5"
                      [(ngModel)]="username"
                      #usernameVal="ngModel"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="password"
                      required
                      minlength="5"
                      #passwordVal="ngModel"
                      [(ngModel)]="password"
                      (keyup.enter)="onLogin()"
                    />
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-primary btn-lg d-inline-block mx-auto" (click)="onLogin()">Login</a>
            </div>
            <ng-container
              *ngIf="usernameVal.errors?.['required'] && passwordVal.errors?.['required'] && (usernameVal.dirty || usernameVal.touched) && (passwordVal.dirty || passwordVal.touched); else notBothRequired"
            >
              <div class="alert alert-danger mt-3">Username password is required.</div>
            </ng-container>
            <ng-template #notBothRequired>
              <div *ngIf="usernameVal.invalid && (usernameVal.dirty || usernameVal.touched)" class="alert alert-danger mt-3">
                <div *ngIf="usernameVal.errors?.['required']">Username is required.</div>
                <div *ngIf="usernameVal.errors?.['minlength']">Username must be at least 4 characters long.</div>
              </div>
              <div *ngIf="passwordVal.invalid && (passwordVal.dirty || passwordVal.touched)" class="alert alert-danger mt-3">
                <div *ngIf="passwordVal.errors?.['required']">Password is required.</div>
                <div *ngIf="passwordVal.errors?.['minlength']">Password must be at least 4 characters long.</div>
              </div>
            </ng-template>

            <div *ngIf="error_description" class="alert alert-danger mt-3">
              {{ error_description }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="copyright pull-right">
          &copy;
          {{ currentDate | date : 'yyyy' }},
          <a href="https://www.locus.co.th" target="_blank">Locus Telecommunication Inc., Ltd.</a>
        </div>
      </div>
    </footer>
  </div>
</div>
