<div class="login-wrapper">
  <div class="login-card">
    <div class="login-logo">
      <img src="./assets/img/locus_logo.png" alt="Locus Logo" />
    </div>

    <form class="login-form">
      <div class="form-field">
        <label for="username">ชื่อผู้ใช้</label>
        <input
          type="text"
          id="username"
          placeholder="กรอกชื่อผู้ใช้"
          name="username"
          required
          minlength="5"
          [(ngModel)]="username"
          #usernameVal="ngModel"
        />
      </div>

      <div class="form-field">
        <label for="password">รหัสผ่าน</label>
        <input
          type="password"
          id="password"
          placeholder="กรอกรหัสผ่าน"
          name="password"
          required
          minlength="5"
          [(ngModel)]="password"
          #passwordVal="ngModel"
          (keyup.enter)="onLogin()"
        />
      </div>

      <button type="button" class="login-btn" (click)="onLogin()">
        เข้าสู่ระบบ
      </button>
    </form>

    <!-- Validation Errors -->
    <ng-container
      *ngIf="usernameVal.errors?.['required'] && passwordVal.errors?.['required'] && (usernameVal.dirty || usernameVal.touched) && (passwordVal.dirty || passwordVal.touched); else notBothRequired"
    >
      <div class="login-error">กรุณากรอกชื่อผู้ใช้และรหัสผ่าน</div>
    </ng-container>
    <ng-template #notBothRequired>
      <div *ngIf="usernameVal.invalid && (usernameVal.dirty || usernameVal.touched)" class="login-error">
        <span *ngIf="usernameVal.errors?.['required']">กรุณากรอกชื่อผู้ใช้</span>
        <span *ngIf="usernameVal.errors?.['minlength']">ชื่อผู้ใช้ต้องมีอย่างน้อย 5 ตัวอักษร</span>
      </div>
      <div *ngIf="passwordVal.invalid && (passwordVal.dirty || passwordVal.touched)" class="login-error">
        <span *ngIf="passwordVal.errors?.['required']">กรุณากรอกรหัสผ่าน</span>
        <span *ngIf="passwordVal.errors?.['minlength']">รหัสผ่านต้องมีอย่างน้อย 5 ตัวอักษร</span>
      </div>
    </ng-template>

    <!-- Server Error -->
    <div *ngIf="error_description" class="login-error">
      {{ error_description }}
    </div>
  </div>

  <footer class="login-footer">
    &copy; {{ currentDate | date : 'yyyy' }}
    <a href="https://www.locus.co.th" target="_blank">Locus Telecommunication Inc., Ltd.</a>
  </footer>
</div>
