<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">{{ 'manualAdjust.title' | translate }}</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="searchForm" (ngSubmit)="search()" novalidate>
                <div class="row">
                  <mat-form-field class="col-md-3">
                    <input matInput [placeholder]="'manualAdjust.memberId' | translate" type="number" formControlName="memberId">
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                    <mat-select [placeholder]="'manualAdjust.manualType' | translate"  formControlName="txnType">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let item of manualTypeList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                    <input matInput [matDatepicker]="searchDateFromRef" (dateChange)="onSearchDateFromChange($event)"
                    [placeholder]="'manualAdjust.createStartDate' | translate" formControlName="createStartDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="searchDateFromRef"></mat-datepicker-toggle>
                    <mat-datepicker #searchDateFromRef></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                      <input matInput [matDatepicker]="searchDateToRef" (dateChange)="onSearchDateToChange($event)"
                      [placeholder]="'manualAdjust.createEndDate' | translate" formControlName="createEndDate" readonly>
                      <mat-datepicker-toggle matSuffix [for]="searchDateToRef"></mat-datepicker-toggle>
                      <mat-datepicker #searchDateToRef></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-3">
                      <input matInput [placeholder]="'manualAdjust.memberMobile' | translate" type="text" formControlName="memberMobile">
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                      <input matInput [placeholder]="'manualAdjust.memberFirstName' | translate" type="text" formControlName="memberFirstName">
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <input matInput [placeholder]="'manualAdjust.memberLastName' | translate" type="text" formControlName="memberLastName">
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <input matInput [placeholder]="'manualAdjust.cardNumber' | translate" type="text" formControlName="cardNumber">
                    </mat-form-field>
                  </div>
                <div align="end">
                  <button mat-raised-button class="btn btn-fill btn-rose" type="submit">{{ 'button.search' | translate }}</button>
                  <button *ngIf="CAN_WRITE()" mat-raised-button type="button" class="btn btn-fill btn-primary" type="button" (click)="create()">{{ 'button.create' | translate }}</button>
                  <button mat-raised-button type="button" class="btn btn-fill btn-default" type="reset" (click)="clear()">{{ 'button.clear' | translate }}</button>
                </div>
              </form>
              <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
              </div>
              <div class="material-datatables">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive"
                (matSortChange)="sortData($event)" matSort matSortActive="txnId" matSortDirection="asc"
                  matSortDisableClear>
                  <ng-container matColumnDef="txnId" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'manualAdjust.txnId' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.txnId}} </td>
                  </ng-container>
                  <ng-container matColumnDef="status" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > {{ 'manualAdjust.status' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>
                  <ng-container matColumnDef="memberId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'manualAdjust.memberId' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.memberId}} </td>
                  </ng-container>
                  <ng-container matColumnDef="memberName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'manualAdjust.memberName' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.memberName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cardNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'manualAdjust.cardNumber' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.cardNumber}} </td>
                  </ng-container>
                  <ng-container matColumnDef="txnType">
                    <th mat-header-cell *matHeaderCellDef> {{ 'manualAdjust.txnType' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.txnType}} </td>
                  </ng-container>
                  <ng-container matColumnDef="requestPoint">
                    <th mat-header-cell *matHeaderCellDef> {{ 'manualAdjust.requestPoint' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.requestPoint}} </td>
                  </ng-container>
                  <ng-container matColumnDef="pointBefore">
                    <th mat-header-cell *matHeaderCellDef> {{ 'manualAdjust.pointBefore' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.pointBefore}} </td>
                  </ng-container>
                  <ng-container matColumnDef="balancePoint">
                    <th mat-header-cell *matHeaderCellDef> {{ 'manualAdjust.balancePoint' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.balancePoint}} </td>
                  </ng-container>
                  <ng-container matColumnDef="createdDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'manualAdjust.createdDate' | translate }} </th>
                      <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="createdBy">
                        <th mat-header-cell *matHeaderCellDef> {{ 'manualAdjust.createdBy' | translate }} </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                      </ng-container>
                  <ng-container matColumnDef="updatedDate">
                    <th mat-header-cell *matHeaderCellDef> {{ 'manualAdjust.updatedDate' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
                  </ng-container>
                  <ng-container matColumnDef="updatedBy">
                    <th mat-header-cell *matHeaderCellDef> {{ 'manualAdjust.updatedBy' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRow(row)"
                    [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
                </table>
                <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)" [length]="tableControl.total"
                [pageSize]="tableControl.pageSize"
                  [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="selectedRow">
              <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                  <i class="material-icons">perm_identity</i>
                </div>
                <h4 class="card-title">{{ 'manualAdjust.detailTitle' | translate }} </h4>
              </div>
              <div class="card-body">
                <form #createFormDirective="ngForm" [formGroup]="adjustForm" (ngSubmit)="onSave($event)">
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'manualAdjust.memberId' | translate" type="text"
                                        formControlName="memberId" readonly (click)="searchMember()">
                                    <mat-icon matSuffix (click)="searchMember()" *ngIf="created">search</mat-icon>
                                    <mat-error *ngIf="submitted && adjustForm.controls['memberId'].hasError('required')">
                                      {{ 'error.required' | translate }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'manualAdjust.memberFirstName' | translate" type="text"
                                        formControlName="memberFirstName" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'manualAdjust.memberLastName' | translate" type="text"
                                        formControlName="memberLastName" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'manualAdjust.cardNumber' | translate" type="text"
                                        formControlName="cardNumber" readonly>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <mat-select [placeholder]="'manualAdjust.manualType' | translate"  formControlName="txnType">
                                      <mat-option>--</mat-option>
                                      <mat-option *ngFor="let item of manualTypeList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="submitted && adjustForm.controls['txnType'].hasError('required')">
                                      {{ 'error.required' | translate }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3" *ngIf="created">
                                    <input matInput [placeholder]="'manualAdjust.pointAdjust' | translate" type="text"
                                        formControlName="pointAdjust">
                                      <mat-error *ngIf="created && submitted && adjustForm.controls['pointAdjust'].hasError('required')">
                                        {{ 'error.required' | translate }}
                                      </mat-error> 
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'manualAdjust.txnId' | translate" type="text"
                                        formControlName="txnId" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'manualAdjust.requestPoint' | translate" type="text"
                                        formControlName="requestPoint" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'manualAdjust.pointBefore' | translate" type="text"
                                        formControlName="pointBefore" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'manualAdjust.balancePoint' | translate" type="text"
                                        formControlName="balancePoint" readonly>
                                </mat-form-field>
                            </div>
                            <app-created-by
                                [createdBy]="adjustForm.controls['createdBy'].value"
                                [createdDate]="adjustForm.controls['createdDate'].value"
                                [updatedBy]="adjustForm.controls['updatedBy'].value"
                                [updatedDate]="adjustForm.controls['updatedDate'].value">
                            </app-created-by>
                            <div class="pull-right" *ngIf="created || isQueued">
                                <button mat-raised-button type="submit" *ngIf="CAN_WRITE() && !isQueued"
                                    class="btn btn-fill btn-rose">{{ 'button.save' | translate }}</button>
                                <button mat-raised-button type="button" *ngIf="CAN_WRITE() && isQueued" (click)="callEngine()"
                                    class="btn btn-fill btn-default">{{ 'button.callEngine' | translate }}</button>
                            </div>
                        </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  