<div mat-dialog-content class="dialog-content">
  <!-- Header -->
  <div class="dialog-header">
    <div class="header-icon">
      <mat-icon>person_search</mat-icon>
    </div>
    <h4 class="header-title">{{ 'customer.text' | translate }}</h4>
    <button type="button" class="dialog-close" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Content -->
  <div class="form-container">
    <!-- Search Form -->
    <div class="search-section">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="search-row">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'member.firstName' | translate }}</mat-label>
            <input matInput type="text" formControlName="firstName" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'member.lastName' | translate }}</mat-label>
            <input matInput type="text" formControlName="lastName" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'member.citizenId' | translate }}</mat-label>
            <input matInput type="number" formControlName="citizenId" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'member.passportNo' | translate }}</mat-label>
            <input matInput type="text" formControlName="passportNo" />
          </mat-form-field>
        </div>
        <div class="search-row">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'member.email' | translate }}</mat-label>
            <input matInput type="text" formControlName="email" />
          </mat-form-field>
        </div>
        <div class="search-actions">
          <button mat-raised-button type="submit" class="btn-search">
            <mat-icon>search</mat-icon>
            {{ 'button.search' | translate }}
          </button>
          <button mat-raised-button type="reset" class="btn-cancel" (click)="clear()">
            {{ 'button.clear' | translate }}
          </button>
        </div>
      </form>
    </div>

    <!-- Table -->
    <div class="table-section">
      <div class="table-container">
        <table
          mat-table
          [dataSource]="dataSource"
          (matSortChange)="tableControl.onSort($event)"
          matSort
          matSortActive="firstName"
          matSortDirection="asc"
          matSortDisableClear
        >
          <ng-container matColumnDef="customerStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sticky>
              {{ 'member.customerStatus' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngFor="let item of customerStatusList">{{ (element.customerStatus == item.codeId ? item.etc1 : '') | translate }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'member.firstName' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerType ? element.firstName + ' ' + element.lastName : element.businessName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="citizenId">
            <th mat-header-cell *matHeaderCellDef>{{ 'member.citizenId' | translate }}/{{ 'member.passportNo' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerType ? (element.nationality == '37' ? element.citizenId : element.passportNo) : element.taxId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>{{ 'member.email' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>
          <ng-container matColumnDef="customerType">
            <th mat-header-cell *matHeaderCellDef>{{ 'member.customerType' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{ (element.customerType ? 'member.individual' : 'member.corporate') | translate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="approvedDate">
            <th mat-header-cell *matHeaderCellDef>{{ 'member.approvedDate' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.approvedDate }}</td>
          </ng-container>
          <ng-container matColumnDef="approvedBy">
            <th mat-header-cell *matHeaderCellDef>{{ 'member.approvedBy' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.approvedBy }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selectCustomer(row)"
            [ngClass]="{ 'selected-row': selectedRow == row }"
          ></tr>
        </table>
      </div>

      <mat-paginator
        (page)="tableControl.onPage($event)"
        [length]="tableControl.total"
        [pageSize]="tableControl.pageSize"
        [pageSizeOptions]="tableControl.pageSizeOptions"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>

  <!-- Footer Actions -->
  <div class="dialog-footer">
    <button mat-button mat-dialog-close (click)="onNoClick()" class="btn-cancel">
      {{ 'button.cancel' | translate }}
    </button>
    @if(CAN_WRITE()){
    <button mat-raised-button class="btn-primary" [mat-dialog-close]="customerInfo">
      {{ 'button.select' | translate }}
    </button>
    }
  </div>
</div>
