<div class="container-fluid">
  <br />
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
    <div class="row">
      <mat-form-field class="col-md-4">
        <mat-select [placeholder]="'shop.location' | translate"  formControlName="locationId">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of locationList" [value]="item.codeId">{{ item.codeName }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-select [placeholder]="'shop.shopType' | translate"  formControlName="shopTypeId">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of shopTypeList" [value]="item.codeId">{{ item.codeName }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <input matInput [placeholder]="'shop.shopName' | translate" type="text" formControlName="shop">
      </mat-form-field>
    </div>
    <div align="end">
      <button mat-raised-button type="button" class="btn btn-fill btn-rose" type="submit">{{ 'button.search' | translate }}</button>
      <button mat-raised-button type="button" class="btn btn-fill btn-default" type="reset" (click)="clear()">{{ 'button.clear' | translate }}</button>
    </div>
  </form>
  <div class="material-datatables">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
    (matSortChange)="tableControl.onSort($event)" matSort matSortActive="shop" matSortDirection="asc"
      matSortDisableClear>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="orderNo">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ tableControl.pageNo === 0 ? i + 1 : tableControl.pageNo * tableControl.pageSize + i + 1 }} </td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> {{ 'shop.location' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>
      <ng-container matColumnDef="shop">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{ 'shop.shopName' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.shop}} </td>
      </ng-container>
      <ng-container matColumnDef="shopType">
        <th mat-header-cell *matHeaderCellDef> {{ 'shop.shopType' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.shopType}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRow(row)"
        [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
    </table>
    <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)" [length]="tableControl.total" [pageSize]="tableControl.pageSize"
      [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
    </mat-paginator>
  </div>
  <div class="card">
      <div class="card-body">
        <form [formGroup]="createForm" (ngSubmit)="onSave($event)">
          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput [placeholder]="'tier.spending' | translate" type="number" formControlName="spending">
            </mat-form-field>
            <mat-error *ngIf="createForm.controls['spending'].hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
            <mat-form-field class="col-md-4">
              <input matInput [placeholder]="'tier.point' | translate" type="number" formControlName="point">
            </mat-form-field>
            <mat-error *ngIf="createForm.controls['point'].hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
            <div class="col-md-4 col-no-label">
              <mat-checkbox formControlName="activeFlag">{{ 'tier.active' | translate }}</mat-checkbox>
            </div>
          </div>
        </form>
      </div>
  </div>
  <div align="end">
    <button mat-raised-button type="button" class="btn btn-fill btn-rose" (click)="onSave($event)">{{ 'button.save' | translate }}</button>
    <button mat-raised-button type="button" (click)="onClose()" class="btn btn-fill btn-default">{{ 'button.close' | translate }}</button>
  </div>
  <div class="clearfix"></div>
</div>
