<nav #navbar class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button mat-raised-button (click)="minimizeSidebar()" class="btn btn-just-icon btn-white btn-fab btn-round">
          <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
          <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
        </button>
      </div>
      <a class="navbar-brand" href="{{getPath()}}">{{ navTitle?.title | translate:navTitle?.param }}</a>
    </div>
    <button mat-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <div class="row">
          <!-- <li class="nav-item"> 
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Small button
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-menu">
                  <form class="px-4 py-3">
                    <div class="form-group">
                      <label for="exampleDropdownFormEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleDropdownFormPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                          Remember me
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">New around here? Sign up</a>
                  <a class="dropdown-item" href="#">Forgot password?</a>
                </div>
              </div>
            </div>
          </li> -->

          <li class="nav-item"> 
            <mat-button-toggle-group appearance="legacy" [value]="currentWalkInStatusCode" (change)="changeWalkinStatus($event)" #group="matButtonToggleGroup">
              <mat-button-toggle value="CONSULTING_START" aria-label="{{ 'Active' | translate }} " class="btn-rose">
                {{ 'Walk in' | translate }}  
                <mat-icon>co_present</mat-icon>
               
              </mat-button-toggle>
              <mat-button-toggle value="CONSULTING_STOP" aria-label="{{ 'Inactive' | translate }} ">
                  
                {{ 'WRAP-UP' | translate }}              
                <mat-icon>cancel</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>

            


          </li>
          <div class="clearfix"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <li class="nav-item">
            <form class="example-form">  
              <mat-form-field class="example-full-width">
                <mat-label>Status : </mat-label>
                <input matInput disabled [value]="currentWalkInStatusName">
              </mat-form-field>
            </form>    
  
          </li>
          <div class="clearfix"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <li class="nav-item">
            <mat-button-toggle-group appearance="legacy" [value]="currentLang" (change)="changeLanguage($event)" #group="matButtonToggleGroup">
              <mat-button-toggle value="th" aria-label="ไทย">
                TH
              </mat-button-toggle>
              <mat-button-toggle value="en" aria-label="English">
                EN
              </mat-button-toggle>
            </mat-button-toggle-group>
            
  
          </li>
        </div>
        
        
     
       </ul>
    </div>
  </div>
</nav>
