<nav #navbar class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button mat-raised-button (click)="minimizeSidebar()" class="btn btn-just-icon btn-white btn-fab btn-round">
          <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
          <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
        </button>
      </div>
      <a class="navbar-brand" href="{{ getPath() }}">{{ navTitle?.title | translate : navTitle?.param }}</a>
    </div>
    <div class="d-block d-lg-none mode-mobile">
      <app-consulting-info> </app-consulting-info>
    </div>

    <button mat-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()"
      aria-label="Toggle navigation">
      <i class="material-icons">menu</i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">

        <!-- <div class="row"> -->
        <li class="nav-item">
          <app-notification-info> </app-notification-info>
        </li>
        <div class="clearfix">&nbsp;</div>
        <li class="nav-item">
          <app-consulting-info> </app-consulting-info>
        </li>
        <div class="clearfix">&nbsp;</div>
      </ul>
    </div>
  </div>
</nav>