$taskbar-open-color: #005ea5;

.taskbar {
  position: fixed;
  bottom: 0;
  height: 43px;
  width: 100%;
  background: #004172;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 99999999;

  .item-left {
    height: 43px;
    display: inline-block;
    min-width: 180px;
    vertical-align: middle;
    line-height: 43px;
    text-align: center;

    .open {
      background: $taskbar-open-color;
    }

    a {
      color: white;
      display: block;
      text-decoration: none;
    }

    a:hover {
      background: $taskbar-open-color;
    }
  }
}
