<div class="taskbar" *ngIf="false">
  <div class="items">
    <div class="item-left">
      <a href="javascript:void(0)" (click)="toggleSoftphone()" [ngClass]="{ open: isSoftphoneOpen }"
        ><i class="material-icons">phone</i>&nbsp;&nbsp;Phone</a
      >
    </div>
    <div class="item-left">
      <a href="javascript:void(0)" (click)="toggleTaskQueue()" [ngClass]="{ open: isTaskQueueOpen }"
        ><i class="material-icons">format_list_bulleted</i>&nbsp;&nbsp;Task</a
      >
    </div>

    <!-- <div class="item-left">
      <a href="javascript:void(0)" (click)="pickup()">Pickup</a>
    </div>
    <div class="item-left">
      <a href="javascript:void(0)" (click)="disconnect()">Disconnect</a>
    </div>
    <div class="item-left">
      <a href="javascript:void(0)" (click)="hold()">Hold</a>
    </div>
    <div class="item-left">
      <a href="javascript:void(0)" (click)="mute()">Mute</a>
    </div> -->
  </div>
</div>

<app-softphone-cmp [isOpen]="isSoftphoneOpen"></app-softphone-cmp>
<app-task-queue-cmp [isOpen]="isTaskQueueOpen"></app-task-queue-cmp>
