<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Claim Process</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="uploadForm" (ngSubmit)="upload()" novalidate>
              <div class="row">
                <mat-form-field class="col-md-4">
                  <mat-label>Method</mat-label>
                  <mat-select formControlName="methodCode">
                    <mat-option *ngFor="let item of methodList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-4">
                  <mat-label>{{ 'document.file' | translate }}</mat-label>
                  <input type="file" hidden #fileUpload (change)="selectFile($event)" accept="image/*,.pdf" />
                  <input disabled formControlName="fileName" matInput type="text" readonly />
                  <button type="button" matSuffix mat-button (click)="fileUpload.click()" class="file-icon">
                    <mat-icon>attachment</mat-icon>
                  </button>
                  <mat-error *ngIf="uploadForm.controls['fileName'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <button type="button" class="btn btn-fill btn-warning" type="button" (click)="onSearch()">
                      {{ 'button.search' | translate }}
                    </button>
                    <button type="button" class="btn btn-fill btn-primary" type="submit">{{ 'button.submit' | translate
                      }}</button>
                    <button type="button" class="btn btn-fill btn-default" type="reset" (click)="clear()">{{
                      'button.clear' | translate }}</button>
                  </div>
                </div>
              </div>
            </form>
            <hr class="clear-both" />
            <div class="row" *ngIf="submitted">
              <div class="col-md-12">
                <div class="pull-right">
                  <button type="button" class="btn btn-fill btn-primary" type="reset" (click)="clear()">
                    {{ 'button.export-excel' | translate }}
                  </button>
                </div>
              </div>
            </div>
            <div class="material-datatables table-responsive" *ngIf="submitted">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                (matSortChange)="tableControl.onSort($event)" matSort matSortActive="itemName" matSortDirection="asc"
                matSortDisableClear>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element">
                    <button *ngIf="CAN_WRITE()" class="btn btn-danger btn-round btn-fab"
                      (click)="onDelete(element); $event.stopPropagation()">
                      <span class="mat-button-wrapper">
                        <i class="material-icons">remove</i>
                      </span>
                    </button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="itemName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Item Name' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.itemName }}</td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef>{{ 'Quantity' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.quantity | number : '1.2-2' }}</td>
                </ng-container>
                <ng-container matColumnDef="unitCost">
                  <th mat-header-cell *matHeaderCellDef>{{ 'Unit Cost' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.unitCost | number : '1.2-2' }}</td>
                </ng-container>
                <ng-container matColumnDef="totalCost">
                  <th mat-header-cell *matHeaderCellDef>{{ 'Total Cost' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.totalCost | number : '1.2-2' }}</td>
                </ng-container>
                <ng-container matColumnDef="discount">
                  <th mat-header-cell *matHeaderCellDef>{{ 'Discount' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.discount | number : '1.2-2' }}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>{{ 'Amount' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.amount | number : '1.2-2' }}</td>
                </ng-container>
                <ng-container matColumnDef="genericName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Generic Name' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.genericName }}</td>
                </ng-container>
                <ng-container matColumnDef="strength">
                  <th mat-header-cell *matHeaderCellDef>{{ 'Strength' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.strength }}</td>
                </ng-container>
                <ng-container matColumnDef="dosageNo">
                  <th mat-header-cell *matHeaderCellDef>{{ 'Dosage No.' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.dosageNo }}</td>
                </ng-container>
                <ng-container matColumnDef="dosageUnit">
                  <th mat-header-cell *matHeaderCellDef>{{ 'Dosage Unit' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.dosageUnit }}</td>
                </ng-container>
                <ng-container matColumnDef="unitName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Unit Name' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.unitName }}</td>
                </ng-container>
                <ng-container matColumnDef="itemCategory">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Item Category' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.itemCategory }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onSelectRow(row)"
                  [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
              </table>
            </div>
            <mat-paginator *ngIf="submitted" class="mat-paginator-sticky" (page)="tableControl.onPage($event)"
              [length]="tableControl.total" [pageSize]="tableControl.pageSize" [pageIndex]="tableControl.pageNo"
              [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>