<button class="close" mat-button [mat-dialog-close]="true">X</button>
<div mat-dialog-content class="flex-container">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title">{{titleModalEmail}}</h4>
                </div>
                <div class="col-md-12">

                    <form [formGroup]="sendEmailForm">
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>{{'email.from' | translate}}</mat-label>
                                <input matInput type="text" formControlName="fromEmail" />
                            </mat-form-field>
                            <mat-form-field class="col-md-12">
                                <mat-label>{{'email.to' | translate}}</mat-label>
                                <input matInput type="text" formControlName="toEmail" required />
                                <mat-error *ngIf="sendEmailForm.controls['toEmail'].hasError('required')">
                                    {{ 'error.required' | translate }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-md-12">
                                <mat-label>{{'email.cc' | translate}}</mat-label>
                                <input matInput type="text" formControlName="ccEmail" />
                            </mat-form-field>
                            <mat-form-field class="col-md-12">
                                <mat-label>{{'email.subject' | translate}}</mat-label>
                                <input matInput type="text" formControlName="subjectEmail" />
                            </mat-form-field>

                            <mat-form-field class="col-md-12">
                                <mat-label>{{ 'document.file' | translate }}</mat-label>
                                <input type="file" hidden #fileUpload (change)="selectFile($event)" />
                                <input disabled formControlName="fileName" matInput type="text" readonly />
                                <button type="button" matSuffix mat-button (click)="fileUpload.click()"
                                    class="file-icon">
                                    <mat-icon>attachment</mat-icon>
                                </button>

                            </mat-form-field>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <quill-editor formControlName="bodyEmail" format="html" [modules]="modules">
                                </quill-editor>
                            </div>

                        </div>
                        <!-- <div class="row"><br /> </div>
                          <div class="row">
                            <div class="col-md-12">
                                <mat-label>Attached File : </mat-label>
                                <mat-label *ngFor="let item of this.dataIn.emailData.fileNameList;let num = index">
                                    {{num}}.{{item}}
                                </mat-label>
                                <input matInput type="text" formControlName="fileName"  readonly/>
                            </div>
                        </div>  -->
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="material-datatables">
                                    <table mat-table [dataSource]="this.fileNameList" class="mat-elevation-z8"
                                        (matSortChange)="tableControl.onSort($event)" matSort matSortDirection="desc"
                                        matSortDisableClear>
                                        <ng-container matColumnDef="fileName">
                                            <th mat-header-cell *matHeaderCellDef> {{'email.attachedfile' | translate}}
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element}} </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="pull-right">
                                        <button mat-raised-button type="button" class="btn btn-fill btn-primary"
                                            (click)="onSendEmail()">
                                            <mat-icon>send</mat-icon>
                                            {{'btn.email.send'| translate}}
                                        </button>

                                        <button mat-raised-button mat-dialog-close type="button" (click)="onCancel()"
                                            class="btn btn-fill btn-rose">{{'button.close' | translate}}</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>