<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">{{ 'questionnaire.title' | translate }}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
              <div class="row">
                <mat-form-field class="col-md-4">
                  <mat-label>{{ 'questionnaire.formname' | translate }}</mat-label>
                  <input matInput rows="2" formControlName="formName" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'questionnaire.type' | translate }}</mat-label>
                  <mat-select formControlName="questionnaireType">
                    <mat-option *ngFor="let item of questionnaireTypeList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'questionnaire.activeYn' | translate }}</mat-label>
                  <mat-select formControlName="statusCd">
                    <mat-option *ngFor="let item of statusList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="pull-right">
                <button mat-raised-button type="submit" class="btn btn-fill btn-rose">{{ 'button.search' | translate }}</button>

                <button
                  mat-raised-button
                  type="button"
                  (click)="onQuestionnaireCreate(); $event.stopPropagation()"
                  class="btn btn-fill btn-primary"
                  [routerLink]="['/system/questionnaire-details']"
                  routerLinkActive="router-link-active"
                >
                  {{ 'button.create' | translate }}
                </button>

                <button mat-raised-button type="button" (click)="onReset()" class="btn btn-fill btn-default">{{ 'button.clear' | translate }}</button>
              </div>
            </form>
            <div class="material-datatables table-responsive">
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
                (matSortChange)="tableControl.onSort($event)"
                matSort
                matSortDirection="asc"
                matSortDisableClear
              >
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      class="btn btn-danger btn-round btn-fab mat-raised-button"
                      *ngIf="CAN_WRITE()"
                      (click)="onDeleteheaderQuestionaire(element); $event.stopPropagation()"
                    >
                      <span class="mat-button-wrapper">
                        <i class="material-icons">remove</i>
                      </span>
                    </button>
                    <button
                      class="btn btn-primary btn-round btn-fab mat-raised-button"
                      *ngIf="CAN_WRITE()"
                      (click)="onClickQuestionnaireDetail(element); $event.stopPropagation()"
                    >
                      <span class="mat-button-wrapper">
                        <i class="material-icons">search</i>
                      </span>
                    </button>
                  </td>
                </ng-container>

                <!-- <ng-container matColumnDef="buName">
                  <th mat-header-cell *matHeaderCellDef>{{ 'questionnaire.type' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.buName }}</td>
                </ng-container> -->

                <ng-container matColumnDef="formname">
                  <th mat-header-cell *matHeaderCellDef>{{ 'questionnaire.formname' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.formName }}</td>
                </ng-container>

                <ng-container matColumnDef="questionnaireType">
                  <th mat-header-cell *matHeaderCellDef>{{ 'questionnaire.type' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.questionnaireType }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'questionnaire.activeYn' | translate }}</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <mat-icon matSuffix *ngIf="element.statusCd === 'Y'">done</mat-icon>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  (click)="onSelectRow(row)"
                  [ngClass]="{ 'selected-row': selectedRow == row }"
                ></tr>
              </table>
            </div>
            <mat-paginator
              class="mat-paginator-sticky"
              (page)="tableControl.onPage($event)"
              [length]="tableControl.total"
              [pageIndex]="tableControl.pageNo"
              [pageSize]="tableControl.pageSize"
              [pageSizeOptions]="tableControl.pageSizeOptions"
              showFirstLastButtons
            >
            </mat-paginator>
          </div>
        </div>
        <div class="card" *ngIf="selectedRow">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">{{ 'business-unit.detailTitle' | translate }}</h4>
          </div>
          <div class="card-body">
            <form #createFormDirective="ngForm" [formGroup]="createForm" (ngSubmit)="onSave()" novalidate>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'business-unit.id' | translate }}</mat-label>
                  <input matInput type="text" formControlName="id" readonly />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'business-unit.buName' | translate }}</mat-label>
                  <input matInput rows="2" formControlName="buName" maxlength="100" />
                  <mat-error *ngIf="createForm.controls['buName'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                  <mat-error *ngIf="createForm.controls['buName'].hasError('maxlength')">
                    {{ 'error.maxLength' | translate }}
                  </mat-error>
                </mat-form-field>
                <div class="col-md-3 active-flag">
                  <mat-checkbox formControlName="activeYn" [checked]="">{{ 'business-unit.activeYn' | translate }}</mat-checkbox>
                </div>
              </div>
              <app-created-by
                [createdBy]="createForm.controls['createdByName'].value"
                [createdDate]="createForm.controls['createdDate'].value"
                [updatedBy]="createForm.controls['updatedByName'].value"
                [updatedDate]="createForm.controls['updatedDate'].value"
              >
              </app-created-by>
              <button *ngIf="CAN_WRITE()" mat-raised-button type="submit" class="btn btn-fill btn-primary pull-right">
                {{ 'button.save' | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
