<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div align="end">
          <button *ngIf="CAN_WRITE()" mat-raised-button type="button" class="btn btn-fill btn-primary" type="button" (click)="onCreate('create')">{{ 'button.add' | translate }}</button>
          <!-- <button mat-raised-button type="button" class="btn btn-fill btn-warning" type="button" (click)="fileUpload.click()">Import File</button>
          <input type="file" hidden #fileUpload (change)="selectFile($event)" accept=".xlsx,.xls"> -->
        </div>
        <div class="material-datatables">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive"
          (matSortChange)="tableControl.onSort($event)">
            <ng-container matColumnDef="action" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-danger btn-round btn-fab mat-raised-button" (click)="onDelete(element); $event.stopPropagation();">
                  <span class="mat-button-wrapper">
                    <i class="material-icons">remove</i>
                  </span>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef> {{ 'shop.location' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>
            <ng-container matColumnDef="shopType">
              <th mat-header-cell *matHeaderCellDef> {{ 'shop.shopType' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.shopType}} </td>
            </ng-container>
            <ng-container matColumnDef="shop">
              <th mat-header-cell *matHeaderCellDef style="width: 60%;"> {{ 'shop.shopName' | translate }} </th>
              <td mat-cell *matCellDef="let element" style="width: 60%;"> {{element.shop}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
          </table>
          <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)" [length]="tableControl.total"
          [pageSize]="tableControl.pageSize" [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
