<ng-container *ngIf="isInitial && !isRegister">
  <app-line-member-register (registered)="onRegister($event)" [liffId]="liffId"></app-line-member-register>
</ng-container>
<ng-container *ngIf="isInitial && isRegister">
  <div class="main-container">
    <section id="timeline" class="timeline-outer">
      <div class="container" id="content">
        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="timeline">
              <li class="event" *ngFor="let item of redeemHistoryList">
                <p>
                  <b>{{ item.productName }}</b>
                </p>
                <p>
                  <mat-chip-list>
                    <mat-chip color="primary" selected>{{ item.burnPoint | number }} points</mat-chip>
                  </mat-chip-list>
                </p>
                <p>
                  <small><b>Date: </b>{{ item.processedDate }}</small>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <br />
  </div>
</ng-container>
