<button class="close" mat-button [mat-dialog-close]="true">X</button>
<div class="main-content">
  <div class="container-fluid">
    <mat-tab-group>
      <!-- <mat-tab label="Change Log"> Content 1 </mat-tab> -->
      <mat-tab [label]="'reward.onHand' | translate">
        <app-reward-on-hand></app-reward-on-hand>
      </mat-tab>
      <mat-tab [label]="'reward.redeemMethod' | translate">
        <app-redeem-method></app-redeem-method>
      </mat-tab>
      <mat-tab [label]="'reward.redeemTrans' | translate">
        <app-redeem-transaction></app-redeem-transaction>
      </mat-tab>
      <!-- <mat-tab label="Action Log"> Content 3 </mat-tab> -->
    </mat-tab-group>
  </div>
</div>
