<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="pull-center"></div>
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <h4 class="card-title">{{ 'questionnaire.detail' | translate }}</h4>
          </div>
          <div class="card-body">
            <!-- <div class="collapse" id="collapseQuestionnaire1"> -->

            <form #createFormDirective="ngForm" [formGroup]="createFormHeader" (ngSubmit)="onSave($event)" novalidate>
              <div class="row">
                <div class="col-md-12" *ngIf="id != null">
                  <div class="pull-right">
                    <button mat-raised-button type="button" (click)="onGenerateLink()" class="btn btn-fill btn-rose">Smartlink Generate</button>
                    <button
                      mat-raised-button
                      type="button"
                      class="btn btn-fill btn-defualt"
                      (click)="onCopySmartlink()"
                      *ngIf="createFormHeader.get('urlLink').value != null"
                    >
                      <mat-icon>content_copy</mat-icon>
                      Copy Url
                    </button>
                  </div>
                </div>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'questionnaire.id' | translate }}</mat-label>
                  <input matInput type="text" formControlName="id" readonly />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'questionnaire.type' | translate }}</mat-label>
                  <mat-select formControlName="questionnaireType" required>
                    <mat-option *ngFor="let type of questionnaireTypeList" [value]="type.codeId">
                      {{ type.codeName }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="createFormHeader.controls['questionnaireType'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'questionnaire.formname' | translate }}</mat-label>
                  <input matInput type="text" formControlName="formName" required />
                  <mat-error *ngIf="createFormHeader.controls['formName'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'questionnaire.sectionHeaderText' | translate }}</mat-label>
                  <input matInput type="text" formControlName="sectionHeaderText" required />
                  <mat-error *ngIf="createFormHeader.controls['sectionHeaderText'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'questionnaire.activeYn' | translate }}</mat-label>
                  <mat-select formControlName="statusCd" required>
                    <mat-option *ngFor="let type of statusList" [value]="type.codeId">
                      {{ type.codeName }}
                    </mat-option>
                    <mat-error *ngIf="createFormHeader.controls['statusCd'].hasError('required')">
                      {{ 'error.required' | translate }}
                    </mat-error>
                  </mat-select>
                </mat-form-field>
              </div>

              <app-created-by
                [createdBy]="createFormHeader.controls['createdByName'].value"
                [createdDate]="createFormHeader.controls['createdDate'].value"
                [updatedBy]="createFormHeader.controls['updatedByName'].value"
                [updatedDate]="createFormHeader.controls['updatedDate'].value"
              >
              </app-created-by>

              <div class="pull-right">
                <button mat-raised-button type="button" (click)="onSaveQheder()" class="btn btn-fill btn-primary">
                  {{ 'button.save' | translate }}
                </button>
              </div>
            </form>

            <!-- </div> -->
          </div>

          <div
            class="card-header card-header-primary card-header-icon"
            *ngIf="createFormHeader.get('id').value != null && createFormHeader.get('id').value != ''"
          >
            <div class="pull-right"></div>
            <div class="card-icon">
              <i class="material-icons">quiz</i>
            </div>
            <h4 class="card-title">{{ 'questionnaire.detail.question' | translate }}</h4>
          </div>
          <div class="card-body" *ngIf="createFormHeader.get('id').value != null && createFormHeader.get('id').value != ''">
            <div class="row">
              <div class="col-md-12">
                <mat-card>
                  <mat-card-content>
                    <form [formGroup]="createFormQuestion" (ngSubmit)="(onCreateQuestion)">
                      <div class="row">
                        <mat-form-field class="col-md-6">
                          <mat-label>{{ 'questionnaire.question' | translate }}</mat-label>
                          <input matInput formControlName="question" />
                          <mat-error *ngIf="createFormQuestion.get('question').invalid && createFormQuestion.get('question').touched">
                            {{ 'error.required' | translate }}
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="row">
                        <mat-form-field class="col-md-4">
                          <mat-label>{{ 'questionnaire.question.datatype' | translate }}</mat-label>
                          <mat-select formControlName="answerType">
                            <mat-option *ngFor="let type of answerType" [value]="type.codeId">
                              {{ type.codeName }}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="createFormQuestion.get('answerType').invalid && createFormQuestion.get('answerType').touched">
                            {{ 'error.required' | translate }}
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-md-1">
                          <mat-label>{{ 'questionnaire.sequence' | translate }}</mat-label>
                          <input type="number" matInput formControlName="seqNo" />
                          <mat-error *ngIf="createFormQuestion.get('seqNo').invalid && createFormQuestion.get('seqNo').touched">
                            {{ 'error.required' | translate }}
                          </mat-error>
                        </mat-form-field>
                        <mat-checkbox formControlName="requiredFlg" class="col-md-1"> Required </mat-checkbox>
                      </div>

                      <!-- แสดงข้อมูลที่เป็นลักษณะ Check -->

                      <div class="row" *ngIf="multichoice.includes(createFormQuestion.get('answerType').value)">
                        <div class="col-md-4">
                          <form [formGroup]="addListForm">
                            <div>
                              <labe>{{ 'questionnaire.question.questionops' | translate }}</labe>
                              <mat-form-field>
                                <mat-label>{{ 'questionnaire.question.questionops' | translate }}</mat-label>
                                <input matInput formControlName="itemText" />
                                <button mat-icon-button matSuffix (click)="addItem()" type="button">
                                  <mat-icon>add</mat-icon>
                                </button>
                              </mat-form-field>
                            </div>
                            <div>
                              <mat-list>
                                <mat-list-item *ngFor="let item of items.controls; let i = index">
                                  <button mat-icon-button color="warn" (click)="removeItem(i)" type="button">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                                  {{ i + 1 + '. ' + item.value }}
                                </mat-list-item>
                              </mat-list>
                            </div>
                          </form>
                        </div>
                      </div>

                      <div class="row">
                        <mat-form-field class="col-md-6">
                          <mat-label>{{ 'questionnaire.question.description' | translate }}</mat-label>
                          <textarea matInput formControlName="description"></textarea>
                        </mat-form-field>
                      </div>

                      <div class="row" *ngIf="selectedRow != null">
                        <div class="col-md-6">
                          <label>{{ 'questionnaire.question.uploadimage' | translate }}</label>
                          <div class="card-questionnaire">
                            <a
                              ><img
                                class="questionnaire-img"
                                (click)="fileUpload.click()"
                                [src]="
                                  imageSrc
                                    ? imageSrc
                                    : selectedRow.imageUrl
                                    ? questionnaireService.getQuestionnaireImagePath(
                                        selectedRow.imageUrl == null ? createFormQuestion.get('imageUrl').value : selectedRow.imageUrl
                                      )
                                    : './assets/img/image_not_found.png'
                                "
                            /></a>
                          </div>
                          <input type="file" hidden #fileUpload (change)="selectFile($event)" /><br />
                          <div><a *ngIf="imageSrc" class="btn btn-info btn-round" (click)="upload()">Upload</a>&nbsp;</div>
                        </div>
                      </div>

                      <div class="pull-right">
                        <button mat-raised-button type="button" (click)="resetQuestionnaireQuestionForm()" class="btn btn-fill btn-default">
                          {{ 'button.clear' | translate }}
                        </button>
                        <button mat-raised-button type="button" (click)="onClickSaveBtnQuestionnaireQst()" class="btn btn-fill btn-primary">
                          {{ 'button.save' | translate }}
                        </button>
                      </div>
                    </form>
                  </mat-card-content>
                </mat-card>
                <br />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pull-right">
                <button mat-raised-button type="button" (click)="onQuestionnairePreview()" class="btn btn-fill btn-rose">
                  {{ 'questionnaire.template.preview' | translate }}
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="material-datatables table-responsive">
                  <table
                    mat-table
                    [dataSource]="questionnaireQuestionList"
                    class="mat-elevation-z8"
                    (matSortChange)="tableControl.onSort($event)"
                    matSort
                    matSortDirection="asc"
                    matSortDisableClear
                  >
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                      <td mat-cell *matCellDef="let element">
                        <button
                          class="btn btn-danger btn-round btn-fab mat-raised-button"
                          *ngIf="CAN_WRITE()"
                          (click)="onDeleteQuestionnaireQuestion(element)"
                        >
                          <span class="mat-button-wrapper">
                            <i class="material-icons">remove</i>
                          </span>
                        </button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="seqNo">
                      <th mat-header-cell *matHeaderCellDef>{{ 'questionnaire.sequence' | translate }}</th>
                      <td mat-cell *matCellDef="let element">{{ element.seqNo }}</td>
                    </ng-container>
                    <ng-container matColumnDef="question">
                      <th mat-header-cell *matHeaderCellDef>{{ 'questionnaire.question' | translate }}</th>
                      <td mat-cell *matCellDef="let element">{{ element.question }}</td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef class="text-left">{{ 'questionnaire.description' | translate }}</th>
                      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
                    </ng-container>
                    <ng-container matColumnDef="requiredFlg">
                      <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'questionnaire.requiredFlg' | translate }}</th>
                      <td mat-cell *matCellDef="let element" class="text-center">{{ element.requiredFlg }}</td>
                    </ng-container>
                    <ng-container matColumnDef="answerType">
                      <th mat-header-cell *matHeaderCellDef>{{ 'questionnaire.answerType' | translate }}</th>
                      <td mat-cell *matCellDef="let element">{{ element.answerTypeName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                      <th mat-header-cell *matHeaderCellDef class="text-left">{{ 'questionnaire.options' | translate }}</th>
                      <td mat-cell *matCellDef="let element">{{ element.options }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" [class.selected]="selectedRow === row" (click)="onRowClick(row)"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <br />
        </div>
      </div>
    </div>
  </div>
</div>
