@import "src/assets/scss/core/variables.scss";

/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;

// @include mat.core();


.pull-right {
  float: right !important;
}

.mat-mdc-select-disabled.mat-mdc-select .mat-mdc-select-value-text span {
    color: #9e9e9e;
}
.mat-form-field-disabled .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
  color: rgba(0, 0, 0, 0.7);
}


/* Start close button style sheet in mat-mdc-dialog. */
.cdk-overlay-pane.my-dialog {
    position: relative!important;
  }
  .close.mat-mdc-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    font-size: 20px;
    margin-right: 12px;
    margin-top: 12px;
  }
  /* End close button style in mat-mdc-dialog. */
