<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form #createFormDirective="ngForm" [formGroup]="createForm" (ngSubmit)="onSave($event)">
          <input type="hidden" formControlName="tierId" />
          <input type="hidden" formControlName="previousBaseFlag" />
          <div class="row">
            <mat-form-field class="col-md-3">
              <input matInput [placeholder]="'tier.code' | translate" type="text" formControlName="tierCode" maxlength="50" />
              <mat-error *ngIf="createForm.controls['tierCode'].hasError('required')">
                {{ 'error.required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <input matInput [placeholder]="'tier.name' | translate" type="text" formControlName="tier" maxlength="255" />
              <mat-error *ngIf="createForm.controls['tier'].hasError('required')">
                {{ 'error.required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-2">
              <input matInput [placeholder]="'tier.level' | translate" type="number" formControlName="tierLevel">
              <mat-error *ngIf="createForm.controls['tierLevel'].hasError('required')">
                {{ 'error.required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-2">
              <input matInput [placeholder]="'tier.spending' | translate" type="number" formControlName="spending">
              <mat-error *ngIf="createForm.controls['spending'].hasError('required')">
                {{ 'error.required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-2">
              <input matInput [placeholder]="'tier.point' | translate" type="number" formControlName="point">
              <mat-error *ngIf="createForm.controls['point'].hasError('required')">
                {{ 'error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-3">
              <input matInput [placeholder]="'tier.limitSpendingPerTime' | translate" type="number" formControlName="limitSpendingPerTime">
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <input matInput [placeholder]="'tier.limitSpendingPerDay' | translate" type="number" formControlName="limitSpendingPerDay">
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <input matInput [placeholder]="'tier.limitSpendingPerMonth' | translate" type="number" formControlName="limitSpendingPerMonth">
            </mat-form-field>
            <div class="col-md-3 col-no-label">
              <mat-checkbox formControlName="baseFlag">{{ 'tier.primary' | translate }}</mat-checkbox>
              &nbsp;&nbsp;&nbsp;
              <mat-checkbox formControlName="activeFlag">{{ 'tier.active' | translate }}</mat-checkbox>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-4">
              <textarea matInput matTextareaAutosize matAutosizeMinRows=4 matAutosizeMaxRows=20 [placeholder]="'tier.remark' | translate" type="text"
                formControlName="remark">
                  </textarea>
            </mat-form-field>
          </div>
          <app-created-by
              [createdBy]="createForm.controls['createdBy'].value"
              [createdDate]="createForm.controls['createdDate'].value"
              [updatedBy]="createForm.controls['updatedBy'].value"
              [updatedDate]="createForm.controls['updatedDate'].value">
          </app-created-by>
          <div align="end">
            <button *ngIf="CAN_WRITE()" mat-raised-button type="submit" class="btn btn-rose">{{ 'button.save' | translate }}</button>
          </div>
          <ng-container *ngIf="tierData && tierData.tierId">
            <mat-tab-group mat-align-tabs="end">
              <mat-tab [label]="'tier.locationBasePoint' | translate">
                <app-location-base-point></app-location-base-point>
              </mat-tab>
              <mat-tab [label]="'tier.cardTier' | translate">
                <app-card-tier></app-card-tier>
              </mat-tab>
              <mat-tab [label]="'tier.privilege' | translate">
                <app-privilege></app-privilege>
              </mat-tab>
            </mat-tab-group>
          </ng-container>
        </form>

      </div>
    </div>
  </div>
</div>
