<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <mat-card class="chart-card">
          <mat-card-title class="chart-title">Summary Case Status</mat-card-title>
          <mat-card-content class="chart-container">
            <ngx-charts-bar-vertical
              class="chart-card"
              [results]="summaryCaseStatusData"
              [animations]="true"
              [xAxis]="true"
              [yAxis]="true"
              [yScaleMax]="10"
            ></ngx-charts-bar-vertical>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <mat-card class="chart-card">
          <mat-card-title class="chart-title">Summary Case Channel</mat-card-title>
          <mat-card-content class="chart-container">
            <ngx-charts-bar-horizontal
              class="chart-card"
              [results]="summaryCaseChannelData"
              [animations]="true"
              [xAxis]="true"
              [yAxis]="true"
              [xScaleMax]="10"
            ></ngx-charts-bar-horizontal>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <mat-card class="chart-card">
          <mat-card-title class="chart-title">Summary Case Type</mat-card-title>
          <mat-card-content class="chart-container">
            <ngx-charts-pie-chart
              class="chart-card"
              [results]="summaryCaseTypeData"
              [animations]="true"
              [labels]="true"
              [maxLabelLength]="20"
            ></ngx-charts-pie-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
