<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">{{ 'receipt.title' | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <form #createFormDirective="ngForm" [formGroup]="createForm" (ngSubmit)="onSave($event)">
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'receipt.memberId' | translate" type="text"
                                        formControlName="memberId" readonly (click)="searchMember()">
                                    <mat-icon matSuffix (click)="searchMember()" >search</mat-icon>
                                    <mat-error *ngIf="createForm.controls['memberId'].hasError('required')">
                                        {{ 'error.required' | translate }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'receipt.memberName' | translate" type="text"
                                        formControlName="memberName" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'receipt.memberTier' | translate" type="text"
                                        formControlName="memberTierName" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'receipt.programId' | translate" type="text"
                                        formControlName="programId" readonly>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'receipt.shopId' | translate" type="text"
                                        formControlName="shopId" readonly (click)="searchShop()">
                                    <mat-icon matSuffix (click)="searchShop()" >search</mat-icon>
                                    <mat-error *ngIf="createForm.controls['shopId'].hasError('required')">
                                        {{ 'error.required' | translate }}
                                      </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'receipt.shopType' | translate" type="text"
                                        formControlName="shopTypeName" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'receipt.shopName' | translate" type="text"
                                        formControlName="shopName" readonly>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <input matInput [placeholder]="'receipt.receiptId' | translate" type="text"
                                        formControlName="receiptId" maxlength="255" />
                                    <mat-error *ngIf="createForm.controls['receiptId'].hasError('required')">
                                        {{ 'error.required' | translate }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <input matInput [matDatepicker]="receiptDateRef" readonly
                                    [placeholder]="'receipt.receiptDate' | translate" formControlName="receiptDate" >
                                    <mat-datepicker-toggle matSuffix [for]="receiptDateRef"></mat-datepicker-toggle>
                                    <mat-datepicker #receiptDateRef></mat-datepicker>
                                    <mat-error *ngIf="createForm.controls['receiptDate'].hasError('required')">
                                        {{ 'error.required' | translate }}
                                    </mat-error>
                                </mat-form-field>
                                  <mat-form-field class="col-md-3">
                                      <input matInput [placeholder]="'receipt.spending' | translate" type="number"
                                          formControlName="spending">
                                        <mat-error *ngIf="createForm.controls['spending'].hasError('required')">
                                            {{ 'error.required' | translate }}
                                        </mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="pull-right">
                                <button mat-raised-button type="submit" *ngIf="CAN_WRITE()"
                                    class="btn btn-fill btn-rose">{{ 'button.save' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>