<ng-container *ngIf="isInitial && !isRegister">
  <app-line-member-register (registered)="onRegister($event)" [liffId]="liffId"></app-line-member-register>
</ng-container>
<ng-container *ngIf="isInitial && isRegister">
  <div class="row p-3 header">
    <div class="col-2 text-center">
      <img [src]="userProfile?.pictureUrl" class="mat-elevation-z4 avatar" />
    </div>
    <div class="col-7 text-left">
      <span class="title">{{ memberInfo?.firstName + ' ' + memberInfo?.lastName }}</span><br />
      <span class="subtitle" *ngIf="memberInfo.type === 'DEALER'">{{ memberInfo?.tierName }}</span><br />
      <!-- <span class="point">{{ memberInfo?.currentPoint | number }}</span> -->
    </div>
    <div class="col-3 text-right">
      <span style="margin-right: 8px;">
        <i class="fa fa-envelope-o fa-2x"></i>
      </span>
      <span matBadge="4" matBadgeOverlap="true" matBadgePosition="below after">
        <i class="fa fa-bell-o fa-2x"></i>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <img *ngIf="memberInfo.type === 'DEALER'" class="img-card" src="assets/img/card/card_blue.png" />
      <img *ngIf="memberInfo.type !== 'DEALER'" class="img-card" src="assets/img/card/card_green.png" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 text-center">
      <b>{{ memberInfo.pointTypeName }} : <span class="current_coin">{{ memberInfo?.currentPoint | number }}</span></b>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <mat-tab-group backgroundColor="primary" color="accent" mat-align-tabs="center">
        <mat-tab label="REWARD">
          <mat-list style="background-color: white;">
            <mat-list-item class="reward-list-item" (click)="goRewardDetail(xcash)">
              <img class="mat-elevation-z4" matListAvatar src="{{ xcash.productImgPath }}">
              <h3 matLine>
                <div class="float-left"><b>{{ xcash.productName }}</b></div>
                <div class="float-right"><mat-icon>keyboard_arrow_right</mat-icon></div>
              </h3>
              <p matLine>
                <span> {{ xcash.productDetail }} </span>
              </p>
            </mat-list-item>
            <div *ngFor="let reward of rewardList">
              <mat-list-item class="reward-list-item" (click)="goRewardDetail(reward)">
                <img class="mat-elevation-z4" matListAvatar src="https://jlo.locus.co.th/JLOBE/api/reward/reward_image/{{reward.productImgPath}}">
                <h3 matLine>
                  <div class="float-left"><b>{{reward.productName}}</b></div>
                  <div class="float-right"><mat-icon>keyboard_arrow_right</mat-icon></div>
                </h3>
                <p matLine>
                  <span> {{reward.productDetail}} </span>
                </p>
              </mat-list-item>
              <mat-divider class="divider"></mat-divider>
            </div>
          </mat-list>
        </mat-tab>
        <mat-tab label="HISTORY"></mat-tab>
        <mat-tab label="POPULAR"></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</ng-container>
