.card-header {
  .header-actions {
    position: absolute;
    margin-top: 15px;
    right: 0px;

    button {
      margin-left: 8px;
    }
  }
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  margin: 8px;
}

.card .card,
.card mat-card.mat-mdc-card {
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  box-shadow: none;
}

.wizard-bar {
  .progressbar {
    counter-reset: step;
  }

  .progressbar li {
    list-style: none;
    display: inline-block;
    width: 20%;
    position: relative;
    text-align: center;
    cursor: pointer;
  }

  .progressbar li:before {
    content: '';
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #ddd;
  }

  .progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #ddd;
    top: 12px;
    left: -50%;
    z-index: 0;
    margin-left: -15px;
  }

  .progressbar li:first-child:after {
    content: none;
  }

  .progressbar li.active {
    color: green;
  }

  .progressbar li.active:before {
    border-color: green;
    background-color: green;
  }

  .progressbar li.active + li:after {
    background-color: green;
  }
}

.card-simple {
  img.card-bg {
    width: 100%;
  }

  .logo {
    width: 100%;

    img {
      width: 50%;
      float: right;
      margin-top: 3%;
      margin-right: 5px;
    }
  }
}