<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">diversity_3</i>
            </div>
            <h4 class="card-title">{{ 'customer.text' | translate }}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.firstName' | translate }}</mat-label>
                  <input matInput type="text" formControlName="firstName" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.lastName' | translate }}</mat-label>
                  <input matInput type="text" formControlName="lastName" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.citizenId' | translate }}</mat-label>
                  <input matInput type="number" formControlName="citizenId" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.customerStatus' | translate }}</mat-label>
                  <mat-select formControlName="customerStatus">
                    <mat-option value="">ทั้งหมด</mat-option>
                    <mat-option *ngFor="let type of customerStatusList" [value]="type.codeId">
                      {{ type.codeName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.customerType' | translate }}</mat-label>
                  <mat-select formControlName="customerType">
                    <mat-option value="">ทั้งหมด</mat-option>
                    <mat-option *ngFor="let type of customerTypeList" [value]="type.codeId">
                      {{ type.codeName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.passportNo' | translate }}</mat-label>
                  <input matInput type="text" formControlName="passportNo" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.phoneNo' | translate }}</mat-label>
                  <input matInput type="text" formControlName="phoneNo" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-end">
                <button mat-raised-button type="button" class="btn btn-fill btn-rose" type="submit">
                  {{ 'button.search' | translate }}
                </button>
                @if(CAN_WRITE()){
                <a [routerLink]="['/customer/customer']" mat-raised-button type="button"
                  class="btn btn-fill btn-primary" type="button">{{
                  'button.create' | translate
                  }}</a>
                }
                <button mat-raised-button type="reset" class="btn btn-fill btn-default" (click)="clear()">
                  {{ 'button.clear' | translate }}
                </button>
              </div>
            </form>
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables table-responsive">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                (matSortChange)="tableControl.onSort($event)" matSort matSortActive="firstName" matSortDirection="asc"
                matSortDisableClear>
                <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'member.name' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.customerType ? element.firstName + ' ' + element.lastName : element.businessName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="citizenId">
                  <th mat-header-cell *matHeaderCellDef>{{ 'member.citizenId' | translate }}/{{ 'member.passportNo' |
                    translate }}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.customerType ? (element.nationality == THAI_NATIONALITY ? element.citizenId :
                    element.passportNo) : element.taxId }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="customerType">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ 'member.customerType' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ (element.customerType ? 'member.individual' : 'member.corporate') | translate }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="customerStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sticky
                    style="text-align: center; vertical-align: middle">
                    {{ 'member.customerStatus' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.customerStatusName }}
                  </td>
                  <!-- <td mat-cell *matCellDef="let element" style="text-align: center; vertical-align: middle">
                    <mat-label *ngIf="element.customerStatus == '01'" class="badge active">{{ element.customerStatusName }} </mat-label>
                    <mat-label *ngIf="element.customerStatus == '02'" class="badge inactive">{{ element.customerStatusName }} </mat-label>
                    <mat-label *ngIf="element.customerStatus == '03'" class="badge critical cancelled">{{ element.customerStatusName }} </mat-label>
                  </td> -->
                </ng-container>
                <ng-container matColumnDef="updatedDate">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ 'common.updatedDate' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.updatedDate }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="updatedByName">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ 'common.updatedBy' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.updatedByName }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectCustomer(row)"
                  [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
              </table>
            </div>
            <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)"
              [length]="tableControl.total" [pageSize]="tableControl.pageSize"
              [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
            </mat-paginator>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->

        <!-- end of selected row -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
    <!-- form create customer -->
    @if(selectedRow != null){
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">diversity_3</i>
          </div>
          <div class="header-actions">
            <ng-container *ngIf="createForm.value.memberId != null; else elseCustomer">
              <button (click)="selectCustomerConsulting('member')" mat-raised-button
                class="btn btn-fill btn-default">View Member Detail</button>
            </ng-container>
            <ng-template #elseCustomer></ng-template>

            <button (click)="selectCustomerConsulting('customer')" mat-raised-button
              class="btn btn-fill btn-default">View Customer Detail</button>
          </div>
          <h4 class="card-title">Customer</h4>
          <mat-card-subtitle>Customer Name :
            <b>{{ (selectedRow.firstName || selectedRow.businessName || '') + ' ' + (selectedRow.lastName || '') }}</b>
          </mat-card-subtitle>
        </div>
        <div class="card-body">
          <form #createFormDirective="ngForm" [formGroup]="createForm" novalidate>
            <div class="row">
              <div class="col-md-4">
                <div class="row d-flex align-items-stretch">
                  <div class="col-md-4 d-sm-none d-md-block">
                    <div class="card-simple">
                      <img class="card-bg" [src]="
                          this.createForm.controls['pictureUrl'].value
                            ? customerService.getCustomerProfileImagePath(this.createForm.controls['pictureUrl'].value)
                            : './assets/img/profile_image_not_found.png'
                        " />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                @if(createForm.value.customerType){
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <mat-form-field class="col-md-3">
                        <mat-label>{{ 'member.title' | translate }}</mat-label>
                        <mat-select formControlName="title" disabled>
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let item of titleNameList" [value]="item.codeId">{{ item.codeName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="col-md-4">
                        <mat-label>{{ 'member.firstName' | translate }}</mat-label>
                        <input matInput type="text" formControlName="firstName" readonly />
                      </mat-form-field>
                      <mat-form-field class="col-md-4">
                        <mat-label>{{ 'member.lastName' | translate }}</mat-label>
                        <input matInput type="text" formControlName="lastName" readonly />
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <mat-form-field class="col-md-3">
                        <mat-label>{{ 'member.nationality' | translate }}</mat-label>
                        <mat-select formControlName="nationality" disabled>
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let item of nationalityList" [value]="item.codeId">{{ item.codeName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      @if(createForm.controls['nationality'].value == THAI_NATIONALITY){
                      <mat-form-field class="col-md-4">
                        <mat-label>{{ 'member.citizenId' | translate }}</mat-label>
                        <input matInput type="text" formControlName="citizenId" maxlength="13" readonly />
                      </mat-form-field>
                      } @if(createForm.controls['nationality'].value != THAI_NATIONALITY){
                      <mat-form-field class="col-md-4">
                        <mat-label>{{ 'member.passportNo' | translate }}</mat-label>
                        <input matInput type="text" formControlName="passportNo" readonly />
                      </mat-form-field>
                      }
                    </div>
                  </div>
                </div>
                } @if(!createForm.value.customerType){
                <div class="row">
                  <mat-form-field class="col-md-10">
                    <mat-label>{{ 'member.businessName' | translate }}</mat-label>
                    <input matInput type="text" formControlName="businessName" readonly />
                  </mat-form-field>
                  <mat-form-field class="col-md-2">
                    <mat-label>{{ 'member.taxId' | translate }}</mat-label>
                    <input matInput type="text" formControlName="taxId" readonly />
                  </mat-form-field>
                </div>
                }
              </div>
            </div>

            <!-- <div class="row" *ngIf="createForm.value.customerType">
              <div class="col-md-6">
                <div class="row">
                  <mat-form-field class="col-md-2" disabled>
                    <mat-label>{{ 'member.title' | translate }}</mat-label>
                    <mat-select formControlName="title">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let item of titleNameList" [value]="item.codeId">{{ item.codeName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-md-5" disabled>
                    <mat-label>{{ 'member.firstName' | translate }}</mat-label>
                    <input matInput type="text" formControlName="firstName" />
                  </mat-form-field>
                  <mat-form-field class="col-md-5" disabled>
                    <mat-label>{{ 'member.lastName' | translate }}</mat-label>
                    <input matInput type="text" formControlName="lastName" />
                  </mat-form-field>
                </div>
              </div>
              <mat-form-field class="col-md-3" disabled>
                <mat-label>{{ 'member.nationality' | translate }}</mat-label>
                <mat-select formControlName="nationality">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let item of nationalityList" [value]="item.codeId">{{ item.codeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-md-3" *ngIf="createForm.controls['nationality'].value == THAI_NATIONALITY"
                disabled>
                <mat-label>{{ 'member.citizenId' | translate }}</mat-label>
                <input matInput type="text" formControlName="citizenId" maxlength="13" />
              </mat-form-field>
              <mat-form-field class="col-md-3" *ngIf="createForm.controls['nationality'].value != THAI_NATIONALITY"
                disabled>
                <mat-label>{{ 'member.passportNo' | translate }}</mat-label>
                <input matInput type="text" formControlName="passportNo" />
              </mat-form-field>
            </div>

            <div class="row" *ngIf="!createForm.value.customerType">
              <mat-form-field class="col-md-10" disabled>
                <mat-label>{{ 'member.businessName' | translate }}</mat-label>
                <input matInput type="text" formControlName="businessName" />
              </mat-form-field>
              <mat-form-field class="col-md-2" disabled>
                <mat-label>{{ 'member.taxId' | translate }}</mat-label>
                <input matInput type="text" formControlName="taxId" />
              </mat-form-field>
            </div> -->
          </form>
        </div>
      </div>
    </div>
    }
  </div>
</div>