<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">{{ "customer.text" | translate }}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <mat-label>{{ "member.firstName" | translate }}</mat-label>
                  <input matInput type="text" formControlName="firstName" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ "member.lastName" | translate }}</mat-label>
                  <input matInput type="text" formControlName="lastName" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ "member.citizenId" | translate }}</mat-label>
                  <input matInput type="number" formControlName="citizenId" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ "member.passportNo" | translate }}</mat-label>
                  <input matInput type="text" formControlName="passportNo" />
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <mat-label>{{ "member.cardNo" | translate }}</mat-label>
                  <input matInput type="text" formControlName="memberCardNo" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-end">
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-fill btn-rose"
                  type="submit"
                >
                  {{ "button.search" | translate }}
                </button>
                <a
                  [routerLink]="['/customer/customer']"
                  mat-raised-button
                  type="button"
                  class="btn btn-fill btn-primary"
                  type="button"
                  *ngIf="CAN_WRITE()"
                  >{{ "button.create" | translate }}</a
                >
                <button
                  mat-raised-button
                  type="reset"
                  class="btn btn-fill btn-default"
                  (click)="clear()"
                >
                  {{ "button.clear" | translate }}
                </button>
              </div>
            </form>
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables table-responsive">
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
                (matSortChange)="tableControl.onSort($event)"
                matSort
                matSortActive="firstName"
                matSortDirection="asc"
                matSortDisableClear
              >
                <ng-container matColumnDef="customerStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sticky>
                    {{ "member.customerStatus" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngFor="let item of customerStatusList">{{
                      (element.customerStatus == item.codeId ? item.etc1 : "")
                        | translate
                    }}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "member.name" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{
                      element.customerType
                        ? element.firstName + " " + element.lastName
                        : element.businessName
                    }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="citizenId">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "member.citizenId" | translate }}/{{
                      "member.passportNo" | translate
                    }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{
                      element.customerType
                        ? element.nationality == THAI_NATIONALITY
                          ? element.citizenId
                          : element.passportNo
                        : element.taxId
                    }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="memberCardNo">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "member.cardNo" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.memberCardNo | memberCard }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="customerType">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "member.customerType" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{
                      (element.customerType
                        ? "member.individual"
                        : "member.corporate"
                      ) | translate
                    }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="approvedDate">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "member.approvedDate" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.approvedDate }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="approvedBy">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "member.approvedBy" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.approvedBy }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumns; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  (click)="selectCustomer(row)"
                  [ngClass]="{ 'selected-row': selectedRow == row }"
                ></tr>
              </table>
            </div>
            <mat-paginator
              class="mat-paginator-sticky"
              (page)="tableControl.onPage($event)"
              [length]="tableControl.total"
              [pageSize]="tableControl.pageSize"
              [pageSizeOptions]="tableControl.pageSizeOptions"
              showFirstLastButtons
            >
            </mat-paginator>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->

        <!-- end of selected row -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
    <!-- form create customer -->
    <div class="col-md-12" *ngIf="selectedRow != null">
      <div class="card">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">perm_identity</i>
          </div>
          <div class="header-actions">
            <ng-container
              *ngIf="createForm.value.memberId != null; else elseCustomer"
            >
              <button (click)="selectCustomerConsulting('member')"
                mat-raised-button
                class="btn btn-fill btn-default">

              <!-- <button 
              mat-raised-button
              class="btn btn-fill btn-default"
              [routerLink]="[
                '/customer/member',
                { memberId: createForm.value.memberId }
              ]"
            > -->
                View Member Detail
              </button>
              <button
                mat-raised-button
                class="btn btn-fill btn-default"
                [routerLink]="[
                  '/customer/member-redeem',
                  { memberId: createForm.value.memberId }
                ]"
              >
                Redeem
              </button>
            </ng-container>
            <ng-template #elseCustomer>
              <button  (click)="selectCustomerConsulting('customer')"
              mat-raised-button
              class="btn btn-fill btn-default">

              <!-- <button  (click)="selectCustomerConsulting()"
                mat-raised-button
                class="btn btn-fill btn-default"
                [routerLink]="[
                  '/customer/customer',
                  { customerId: createForm.value.customerId }
                ]"
              > -->
                View Customer Detail
              </button>
            </ng-template>
          </div>
          <h4 class="card-title">Customer</h4>
          <mat-card-subtitle
            >Customer Name :
            <b>{{
              (selectedRow.firstName || selectedRow.businessName || "") +
                " " +
                (selectedRow.lastName || "")
            }}</b>
          </mat-card-subtitle>
        </div>
        <div class="card-body">
          <form
            #createFormDirective="ngForm"
            [formGroup]="createForm"
            novalidate
          >
            <div class="row" *ngIf="createForm.value.customerType">
              <div class="col-md-6">
                <div class="row">
                  <mat-form-field class="col-md-2" disabled>
                    <mat-select
                      placeholder="{{ 'member.title' | translate }}"
                      formControlName="title"
                    >
                      <mat-option>--</mat-option>
                      <mat-option
                        *ngFor="let item of titleNameList"
                        [value]="item.codeId"
                        >{{ item.codeName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-md-5" disabled>
                    <input
                      matInput
                      placeholder="{{ 'member.firstName' | translate }}"
                      type="text"
                      formControlName="firstName"
                    />
                  </mat-form-field>
                  <mat-form-field class="col-md-5" disabled>
                    <input
                      matInput
                      placeholder="{{ 'member.lastName' | translate }}"
                      type="text"
                      formControlName="lastName"
                    />
                  </mat-form-field>
                </div>
              </div>
              <mat-form-field class="col-md-3" disabled>
                <mat-select
                  placeholder="{{ 'member.nationality' | translate }}"
                  formControlName="nationality"
                >
                  <mat-option>--</mat-option>
                  <mat-option
                    *ngFor="let item of nationalityList"
                    [value]="item.codeId"
                    >{{ item.codeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                class="col-md-3"
                *ngIf="
                  createForm.controls['nationality'].value == THAI_NATIONALITY
                "
                disabled
              >
                <input
                  matInput
                  placeholder="{{ 'member.citizenId' | translate }}"
                  type="text"
                  formControlName="citizenId"
                  maxlength="13"
                />
              </mat-form-field>
              <mat-form-field
                class="col-md-3"
                *ngIf="
                  createForm.controls['nationality'].value != THAI_NATIONALITY
                "
                disabled
              >
                <input
                  matInput
                  placeholder="{{ 'member.passportNo' | translate }}"
                  type="text"
                  formControlName="passportNo"
                />
              </mat-form-field>
            </div>

            <div class="row" *ngIf="!createForm.value.customerType">
              <mat-form-field class="col-md-10" disabled>
                <input
                  matInput
                  placeholder="{{ 'member.businessName' | translate }}"
                  type="text"
                  formControlName="businessName"
                />
              </mat-form-field>
              <mat-form-field class="col-md-2" disabled>
                <input
                  matInput
                  placeholder="{{ 'member.taxId' | translate }}"
                  type="text"
                  formControlName="taxId"
                />
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
