<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">diversity_3</i>
            </div>
            <h4 class="card-title">{{ 'customer.text' | translate }}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.firstName' | translate }}</mat-label>
                  <input matInput type="text" formControlName="firstName" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.lastName' | translate }}</mat-label>
                  <input matInput type="text" formControlName="lastName" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.citizenId' | translate }}</mat-label>
                  <input matInput type="number" formControlName="citizenId" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.customerStatus' | translate }}</mat-label>
                  <mat-select formControlName="customerStatus">
                    <mat-option value="">ทั้งหมด</mat-option>
                    <mat-option *ngFor="let type of customerStatusList" [value]="type.codeId">
                      {{ type.codeName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.customerType' | translate }}</mat-label>
                  <mat-select formControlName="customerType">
                    <mat-option value="">ทั้งหมด</mat-option>
                    <mat-option *ngFor="let type of customerTypeList" [value]="type.codeId">
                      {{ type.codeName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.passportNo' | translate }}</mat-label>
                  <input matInput type="text" formControlName="passportNo" />
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-label>{{ 'member.phoneNo' | translate }}</mat-label>
                  <input matInput type="text" formControlName="phoneNo" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-end">
                <button mat-raised-button type="button" class="btn btn-fill btn-rose" type="submit">
                  {{ 'button.search' | translate }}
                </button>
                @if(CAN_WRITE()){
                <a [routerLink]="['/customer/customer']" mat-raised-button type="button"
                  class="btn btn-fill btn-primary" type="button">{{
                  'button.create' | translate
                  }}</a>
                }
                <button mat-raised-button type="reset" class="btn btn-fill btn-default" (click)="clear()">
                  {{ 'button.clear' | translate }}
                </button>
              </div>
            </form>
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables table-responsive">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                (matSortChange)="tableControl.onSort($event)" matSort matSortActive="firstName" matSortDirection="asc"
                matSortDisableClear>
                <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'member.name' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ getDisplayName(element) }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="citizenId">
                  <th mat-header-cell *matHeaderCellDef>{{ 'member.citizenId' | translate }}/{{ 'member.passportNo' |
                    translate }}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ getIdentification(element) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="customerType">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ 'member.customerType' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ (element.customerType ? 'member.individual' : 'member.corporate') | translate }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="customerStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sticky
                    style="text-align: center; vertical-align: middle">
                    {{ 'member.customerStatus' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.customerStatusName }}
                  </td>
                  <!-- <td mat-cell *matCellDef="let element" style="text-align: center; vertical-align: middle">
                    <mat-label *ngIf="element.customerStatus == '01'" class="badge active">{{ element.customerStatusName }} </mat-label>
                    <mat-label *ngIf="element.customerStatus == '02'" class="badge inactive">{{ element.customerStatusName }} </mat-label>
                    <mat-label *ngIf="element.customerStatus == '03'" class="badge critical cancelled">{{ element.customerStatusName }} </mat-label>
                  </td> -->
                </ng-container>
                <ng-container matColumnDef="updatedDate">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ 'common.updatedDate' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.updatedDate }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="updatedByName">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ 'common.updatedBy' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.updatedByName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef style="width: 120px; text-align: center;"></th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <button mat-icon-button matTooltip="View Customer" (click)="viewCustomerDetail(element); $event.stopPropagation()">
                      <mat-icon>visibility</mat-icon>
                    </button>
                    @if(element.memberId != null) {
                    <button mat-icon-button matTooltip="View Member" (click)="viewMemberDetail(element); $event.stopPropagation()">
                      <mat-icon>card_membership</mat-icon>
                    </button>
                    }
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
            <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)"
              [length]="tableControl.total" [pageSize]="tableControl.pageSize"
              [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
            </mat-paginator>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->

        <!-- end of selected row -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>