<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_library</i>
            </div>
            <h4 class="card-title">{{ 'content.title' | translate }}</h4>
          </div>
          <div class="card-body">
            <mat-tab-group class="kb-tabs">
              <!-- แท็บ All Content -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons tab-icon">folder_open</i>
                  <span>{{ 'content.allContentTab' | translate }}</span>
                </ng-template>
                <div class="kb-tab-content">
                  <div class="row">
                    <div class="col-md-4 kb-tree-section">
                      <kb-tree translatePrefix="content"></kb-tree>
                    </div>
                    <div class="col-md-8 kb-content-section">
                      <div class="kb-actions-row">
                        <div class="rating-wrapper">
                          <kb-rating></kb-rating>
                        </div>
                        <div class="favorite-wrapper">
                          <kb-favorite></kb-favorite>
                        </div>
                      </div>

                      <mat-accordion class="kb-accordion" multi="true">
                        <mat-expansion-panel class="kb-panel" expanded="true">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <i class="material-icons panel-icon">info</i>
                              {{ 'content.basicInfoTab' | translate }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <kb-detail translatePrefix="content"></kb-detail>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="kb-panel">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <i class="material-icons panel-icon">description</i>
                              {{ 'content.detailInfoTab' | translate }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <kb-detail-info translatePrefix="content"></kb-detail-info>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="kb-panel">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <i class="material-icons panel-icon">attach_file</i>
                              {{ 'content.docTab' | translate }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <kb-document></kb-document>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="kb-panel">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <i class="material-icons panel-icon">label</i>
                              {{ 'content.keywordTab' | translate }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <kb-keyword></kb-keyword>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <!-- แท็บ My Favorite Content -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons tab-icon">star</i>
                  <span>{{ 'content.myFavoriteTab' | translate }}</span>
                </ng-template>
                <div class="kb-tab-content">
                  <div class="row">
                    <div class="col-md-4 kb-tree-section">
                      <kb-favtree translatePrefix="content"></kb-favtree>
                    </div>
                    <div class="col-md-8 kb-content-section">
                      <div class="kb-actions-row">
                        <div class="rating-wrapper">
                          <kb-rating></kb-rating>
                        </div>
                        <div class="favorite-wrapper">
                          <kb-favorite></kb-favorite>
                        </div>
                      </div>

                      <mat-accordion class="kb-accordion" multi="true">
                        <mat-expansion-panel class="kb-panel" expanded="true">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <i class="material-icons panel-icon">info</i>
                              {{ 'content.basicInfoTab' | translate }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <kb-detail translatePrefix="content"></kb-detail>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="kb-panel">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <i class="material-icons panel-icon">description</i>
                              {{ 'content.detailInfoTab' | translate }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <kb-detail-info translatePrefix="content"></kb-detail-info>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="kb-panel">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <i class="material-icons panel-icon">attach_file</i>
                              {{ 'content.docTab' | translate }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <kb-document></kb-document>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="kb-panel">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <i class="material-icons panel-icon">label</i>
                              {{ 'content.keywordTab' | translate }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <kb-keyword></kb-keyword>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
