<div class="treeControl">
  <a class="treeControlBtn" href="Javascript:void();" (click)="tree.treeControl.expandAll()">
    <fa-icon [icon]="['fas', 'plus-circle']" size="lg"></fa-icon>
  </a>
  <a class="treeControlBtn" href="Javascript:void();" (click)="tree.treeControl.collapseAll()">
    <fa-icon [icon]="['fas', 'minus-circle']" size="lg"></fa-icon>
  </a>
</div>
<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" class="mat-elevation-z2" style="min-height: 500px">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" [ngClass]="{ 'background-highlight': activeNode === node }" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button (click)="selectNode(node)" (contextmenu)="onContextMenu($event, node)">
      @if(node.icon == 'file'){
      <fa-icon class="fa-icon" [icon]="['far', 'file']" size="lg"></fa-icon>
      } @if(node.icon == 'file-excel'){
      <fa-icon class="fa-icon" [icon]="['far', 'file-excel']" size="lg"></fa-icon>
      } @if(node.icon == 'file-image'){
      <fa-icon class="fa-icon" [icon]="['far', 'file-image']" size="lg"></fa-icon>
      } &nbsp;
      {{ node.name }}
    </button>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" (contextmenu)="onContextMenu($event, node)">
      <mat-icon class="mat-icon-rtl-mirror yellow-icon">
        {{ treeControl.isExpanded(node) ? 'folder_open' : 'folder' }}
      </mat-icon>
      {{ node.name }}
    </button>
  </mat-tree-node>
</mat-tree>
<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    @if(folder){
    <button mat-menu-item (click)="createFolder(item)">{{ translatePrefix + '.createFolder' | translate }}</button>
    } @if(!rootFolder && folder){
    <button mat-menu-item (click)="updateFolder(item)">{{ translatePrefix + '.updateFolder' | translate }}</button>
    } @if(!rootFolder && folder){
    <button mat-menu-item (click)="removeFolder(item)">{{ translatePrefix + '.removeFolder' | translate }}</button>
    } @if(folder && !rootFolder && !firstFolder){
    <button mat-menu-item (click)="moveUpFolder(item)">
      {{ translatePrefix + '.moveUpFolder' | translate }}
    </button>
    } @if(folder && !rootFolder && !lastFolder){
    <button mat-menu-item (click)="moveDownFolder(item)">
      {{ translatePrefix + '.moveDownFolder' | translate }}
    </button>
    } @if(!folder){
    <button mat-menu-item (click)="removeFile(item)">{{ translatePrefix + '.removeFile' | translate }}</button>
    } @if(!folder && !firstFile){
    <button mat-menu-item (click)="moveUpFile(item)">{{ translatePrefix + '.moveUpFolder' | translate }}</button>
    } @if(!folder && !lastFile){
    <button mat-menu-item (click)="moveDownFile(item)">{{ translatePrefix + '.moveDownFolder' | translate }}</button>
    }
  </ng-template>
</mat-menu>
