.background-highlight {
  background-color: lightskyblue;
}

.fa-icon {
  color:steelblue;
}

a.treeControlBtn {
  color: black;
  padding: 2px;
}

mat-tree-node {
  white-space: nowrap;

  .mat-mdc-icon-button {
    // font-size: 14px;

    mat-icon {
      padding-top: 4px;
    }
  }
}
