<div class="dialog-content">
  <!-- Header -->
  <div class="dialog-header">
    <div class="header-icon">
      <mat-icon>history</mat-icon>
    </div>
    <h4 class="header-title">{{ 'loginLog.title' | translate }}</h4>
    <button type="button" class="dialog-close" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Content -->
  <div class="dialog-body">
    <app-login-log [userId]="userId"></app-login-log>
  </div>

  <!-- Footer -->
  <div class="dialog-footer">
    <button mat-button mat-dialog-close class="btn-cancel">
      {{ 'button.close' | translate }}
    </button>
  </div>
</div>
