<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">{{ 'promotion.title' | translate }}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <input matInput [placeholder]="'promotion.name' | translate" type="text" formControlName="promotion">
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'promotion.program' | translate" formControlName="programId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of programList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'promotion.type' | translate" formControlName="promotionTypeId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of promotionTypeList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'promotion.status' | translate" formControlName="activeFlag">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of activeFlagList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div align="end">
                <button mat-raised-button type="button" class="btn btn-fill btn-rose" type="submit">{{ 'button.search' | translate }}</button>
                <button *ngIf="CAN_WRITE()" mat-raised-button type="button" class="btn btn-fill btn-primary" type="button"
                  (click)="create()">{{ 'button.create' | translate }}</button>
                <button mat-raised-button type="button" class="btn btn-fill btn-default" type="reset"
                  (click)="clear()">{{ 'button.clear' | translate }}</button>
              </div>
            </form>
            <div class="toolbar">
            </div>
            <div class="material-datatables">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive" (matSortChange)="tableControl.onSort($event)"
                matSort matSortActive="startDate" matSortDirection="desc" matSortDisableClear>
                <ng-container matColumnDef="promotion">
                  <th mat-header-cell *matHeaderCellDef> {{ 'promotion.name' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.promotion}} </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sticky> {{ 'promotion.startDate' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                  <th mat-header-cell *matHeaderCellDef> {{ 'promotion.endDate' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                </ng-container>
                <ng-container matColumnDef="promotionType">
                  <th mat-header-cell *matHeaderCellDef> {{ 'promotion.type' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.promotionType}} </td>
                </ng-container>
                <ng-container matColumnDef="program">
                  <th mat-header-cell *matHeaderCellDef> {{ 'promotion.program' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.program}} </td>
                </ng-container>
                <ng-container matColumnDef="baseFlag">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> {{ 'promotion.basePromotion' | translate }} </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <mat-icon matSuffix *ngIf="element.baseFlag === 'Y'">done</mat-icon>
                  </td>
                </ng-container>
                <ng-container matColumnDef="activeFlag">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> {{ 'promotion.active' | translate }} </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <mat-icon matSuffix *ngIf="element.activeFlag === 'Y'">done</mat-icon>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRow(row)"
                  [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
              </table>
              <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)" [length]="tableControl.total"
                [pageIndex]="tableControl.pageNo" [pageSize]="tableControl.pageSize" [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="selectedRow">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">assessment</i>
            </div>
            <h4 class="card-title">{{ 'promotion.detailTitle' | translate }}</h4>
          </div>
          <div class="card-body">
            <form #createFormDirective="ngForm" [formGroup]="createForm" (ngSubmit)="onSave($event)">
              <div class="row">
                <mat-form-field class="col-md-3">
                  <input matInput [placeholder]="'promotion.name' | translate" type="text" formControlName="promotion">
                  <mat-error *ngIf="createForm.controls['promotion'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'promotion.type' | translate" formControlName="promotionTypeId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of promotionTypeList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="createForm.controls['promotionTypeId'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <input matInput [matDatepicker]="startDateRef" (dateChange)="onStartDateChange($event)"
                    [placeholder]="'promotion.startDate' | translate" formControlName="startDate">
                  <mat-datepicker-toggle matSuffix [for]="startDateRef"></mat-datepicker-toggle>
                  <mat-datepicker #startDateRef></mat-datepicker>
                  <mat-error *ngIf="createForm.controls['startDate'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <input matInput [matDatepicker]="endDateRef" (dateChange)="onEndDateChange($event)" [placeholder]="'promotion.endDate' | translate"
                    formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="endDateRef"></mat-datepicker-toggle>
                  <mat-datepicker #endDateRef></mat-datepicker>
                  <mat-error *ngIf="createForm.controls['endDate'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-3">
                  <mat-select [placeholder]="'promotion.program' | translate" formControlName="programId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of programList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="createForm.controls['programId'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-3" [style]="this.created ? 'visibility: hidden;' : 'visibility: visible;'">
                  <input matInput [placeholder]="'promotion.receiveTimeCount' | translate" type="text" formControlName="promotionReceiveTimeLimit" disabled>
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <mat-select [placeholder]="'promotion.capType' | translate" formControlName="capTypeId" (selectionChange)="onCapTypeChange($event)">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of capTypeList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="createForm.controls['capTypeId'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input matInput [placeholder]="'promotion.minCap' | translate" type="number" formControlName="minCap">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input matInput [placeholder]="'promotion.maxCap' | translate" type="number" formControlName="maxCap">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-6">
                  <textarea matInput matTextareaAutosize matAutosizeMinRows=4 matAutosizeMaxRows=5 [placeholder]="'promotion.description' | translate"
                    type="text" formControlName="remark">
                  </textarea>
                </mat-form-field>
                <div class="col-md-6">
                  <div class="row">
                    <mat-form-field class="col-md-4">
                      <mat-select [placeholder]="'promotion.productInclusion' | translate" formControlName="productInclusionId">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of productInclusionList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="createForm.controls['productInclusionId'].hasError('required')">
                        {{ 'error.required' | translate }}
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                      <mat-select [placeholder]="'promotion.memberInclusion' | translate" formControlName="memberInclusionId">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of memberInclusionList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="createForm.controls['memberInclusionId'].hasError('required')">
                        {{ 'error.required' | translate }}
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                      <mat-select [placeholder]="'promotion.shopInclusion' | translate" formControlName="shopInclusionId">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of shopInclusionList" [value]="item.codeId">{{ item.codeName }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="createForm.controls['shopInclusionId'].hasError('required')">
                        {{ 'error.required' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-no-label">
                      <mat-checkbox formControlName="activeFlag">{{ 'promotion.active' | translate }}</mat-checkbox>
                    </div>
                    <div class="col-md-4 col-no-label">
                      <mat-checkbox formControlName="baseFlag">{{ 'promotion.basePromotion' | translate }}</mat-checkbox>
                    </div>
                  </div>
                </div>

              </div>
              <app-created-by
                  [createdBy]="createForm.controls['createdBy'].value"
                  [createdDate]="createForm.controls['createdDate'].value"
                  [updatedBy]="createForm.controls['updatedBy'].value"
                  [updatedDate]="createForm.controls['updatedDate'].value">
              </app-created-by>
              <button mat-raised-button type="button" class="btn btn-warning pull-left" *ngIf="!created"
                (click)="showMoreTab()">{{ 'button.showMoreTab' | translate }}</button>
              <button *ngIf="CAN_WRITE()" mat-raised-button type="submit" class="btn btn-rose pull-right">{{ 'button.save' | translate }}</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <div class="card" *ngIf="isShowMoreTab">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="material-icons">description</i>
            </div>
            <h4 class="card-title">{{ 'promotion.additionalInfo' | translate }}</h4>
          </div>
          <div class="card-body" style="min-height: 400px;">
            <mat-tab-group>
              <mat-tab [label]="'promotion.rule' | translate">
                <app-rule [promotionId]="promotionId" #rule></app-rule>
              </mat-tab>
              <mat-tab *ngIf="isShowProductTab" [label]="'promotion.product' | translate">
                <app-product [promotionId]="promotionId" #prod></app-product>
              </mat-tab>
              <mat-tab *ngIf="isShowMemberTab" [label]="'promotion.member' | translate">
                <app-member [promotionId]="promotionId" #mem></app-member>
              </mat-tab>
              <mat-tab *ngIf="isShowShopTab" [label]="'promotion.shop' | translate">
                <app-shop [promotionId]="promotionId" #shop></app-shop>
              </mat-tab>
              <mat-tab [label]="'promotion.attribute' | translate">
                <app-attr [promotionId]="promotionId" [programId]="programId" #attr></app-attr>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
